$primaryColor:#6C757D;
$primaryTextColor:#ffffff;
$inputFocusBorderColor:#B5BABE;
$inputFocusBorderShadowColor:rgba(108,117,125,.25);
$highlightBgColor:#6C757D;
$highlightTextColor:#ffffff;
$headerBgColor:#f5f5f5;
$headerHoverBgColor:#dcdcdc;
$headerHoverBorderColor:#c4c4c4;
$headerTextColor:#292B2C;
$headerBorderColor:#dddddd;
$headerIconColor:#999999;
$headerIconHoverColor:#bd9090;
$datableEvenRowBgColor:#f9f9f9;
$datatableHoverBgColor:#f5f5f5;
$buttonTextColor:#ffffff;
$buttonBgColor:#6C757D;
$buttonBorderColor:#6C757D;
$buttonHoverBgColor:#4D565E;
$buttonHoverBorderColor:#424A51;
$buttonActiveBgColor:#424A51;
$buttonActiveBorderColor:#343A40;
$buttonFocusBorderShadow:rgba(108,117,125,.5);

@import '../sass/theme-v4/_theme';
