<form novalidate [formGroup]="form">

  <div *ngIf="value?.type === 'string'">
    <div class="ui-inputgroup" style="display: flex" [ngClass]="{'ui-float-label' : showLabel}">
      <input pInputText [ngModel]="suggest.value.value" [ngModelOptions]="{standalone: true}" [required]="required" [readonly]="readOnly"
        autocomplete="off" spellcheck="false" (focus)="$event.target.select()" (ngModelChange)="value={id: 'string', code: '', type: 'string', value: $event}">
      <button pButton type="button" icon="pi pi-close" class="ui-button-secondary" (click)="handleReset($event)" [tabindex]=-1></button>
      <label *ngIf="showLabel" for="suggest">{{placeholder}}</label>
    </div>
  </div>

  <div *ngIf="value?.type === 'number'">
    <div class="ui-inputgroup" style="display: flex" [ngClass]="{'ui-float-label' : showLabel}">
      <input pInputText [ngModel]="suggest.value.value" [ngModelOptions]="{standalone: true}" [required]="required" type="number"
        [readonly]="readOnly" autocomplete="off" (focus)="$event.target.select()" (ngModelChange)="value={id: 'number', code: '', type: 'number', value: $event}">
      <button pButton type="button" icon="pi pi-close" class="ui-button-secondary" (click)="handleReset($event)" [tabindex]=-1></button>
      <label *ngIf="showLabel" for="suggest">{{placeholder}}</label>
    </div>
  </div>

  <div *ngIf="value?.type === 'datetime'">
    <div class="ui-inputgroup" style="display: flex" [ngClass]="{'ui-float-label' : showLabel}">
      <input pInputText class="calendar" [value]="Moment.isDate(suggest.value.value) ? (suggest.value.value | date:'yyy-MM-ddTHH:mm:ss') : null" step=1 [required]="required" [readonly]="readOnly"
        autocomplete="off" spellcheck="false" (focus)="$event.target.select()" type="datetime-local" (input)="parseDate($event.target.value)">
      <label *ngIf="showLabel" for="suggest">{{placeholder}}</label>
      <button pButton type="button" icon="pi pi-close" class="ui-button-secondary" (click)="handleReset($event)" [tabindex]=-1></button>
    </div>
  </div>

  <div *ngIf="value?.type === 'date'">
    <div class="ui-inputgroup" style="display: flex" [ngClass]="{'ui-float-label' : showLabel}">
      <input pInputText class="calendar" [value]="Moment.isDate(suggest.value.value) ? (suggest.value.value | date:'yyy-MM-dd') : null" [required]="required" [readonly]="readOnly"
        autocomplete="off" spellcheck="false" (focus)="$event.target.select()" type="date" (input)="parseDate($event.target.value)">
      <label *ngIf="showLabel" for="suggest">{{placeholder}}</label>
      <button pButton type="button" icon="pi pi-close" class="ui-button-secondary" (click)="handleReset($event)" [tabindex]=-1></button>
    </div>
  </div>

  <div *ngIf="value?.type === 'boolean'">
    <p-checkbox binary="true" [label]="showLabel ? placeholder : ''" [ngModel]="suggest.value.value" [ngModelOptions]="{standalone: true}"
      (ngModelChange)="value={id: 'boolean', code: '', type: 'boolean', value: $event}"></p-checkbox>
    <button pButton type="button" icon="pi pi-close" class="ui-button-secondary" (click)="handleReset($event)"></button>
  </div>

  <span *ngIf="isComplexValue">
    <div class="ui-inputgroup" style="display: flex" [ngClass]="{'ui-float-label' : showLabel}">
      <p-autoComplete #ac [formControl]="suggest" [suggestions]="Suggests$ | async" [required]="required" [readonly]="readOnly"
        autocomplete="off" (completeMethod)="getSuggests($event.query)" field="value" (onSelect)="this.value = this.suggest.value"
        [inputStyle]="inputStyle" (onClear)="handleReset($event)" dataKey="id" (onFocus)="this.focus.emit($event)" (onBlur)="onBlur($event)"
        [autoHighlight]="true" spellcheck="false" appendTo="body">
      </p-autoComplete>
      <button pButton type="button" icon="pi pi-search" class="ui-button-secondary" *ngIf="showFind" (click)="handleSearch($event)"
        [tabIndex]=-1></button>
      <button pButton type="button" icon="pi pi-external-link" class="ui-button-secondary" *ngIf="showOpen" [disabled]="!value?.value"
        (click)="handleOpen($event)" [tabIndex]=-1></button>
      <button pButton type="button" icon="pi pi-times" class="ui-button-secondary" *ngIf="showClear" (click)="handleReset($event)"
        [tabIndex]=-1></button>
      <label *ngIf="showLabel" for="suggest">{{placeholder}}</label>
    </div>
  </span>
</form>

<p-dialog *ngIf="showDialog" [header]="this.placeholder" [(visible)]="showDialog" [modal]="true" [responsive]="true" [closable]="true"
  [closeOnEscape]="true" [blockScroll]="true" [style]="{height: '550px', width: '580px'}">
  <j-suggest-list [type]="value.type || type" [id]="value.id" [settings]="calcFilters()" (Select)="searchComplete($event)"></j-suggest-list>
</p-dialog>
