<div style="display: flex; flex-direction: column; overflow-x: auto">
  <ng-content></ng-content>

  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button pButton type="button" (click)="loadTasks()" label="Обновить" styleClass="p-button-info"></button>
    </div>
    <div class="p-toolbar-group-right">
      <input type="text" placeholder="Строка поиска" (input)="Tasklist.filterGlobal($event.target.value, 'contains')"
        style="width:auto">
    </div>
  </p-toolbar>

  <p-table #Tasklist [columns]="columns" [value]="Tasks$ | async" dataKey="TaskID" sortMode="multiple" dataKey="TaskID"
    [resizableColumns]="true"
    [globalFilterFields]="['UserDecision','Comment','ItemName','Subdivision','CashRecipient', 'Company']">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col>
        <col *ngFor="let column of Tasklist.columns">
        <col>
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let column of columns" [pSortableColumn]="column.field" pResizableColumn style="text-align: center;"
          [ngStyle]="column.style">
          {{column.header}}
          <p-sortIcon [field]="column.field"></p-sortIcon>
        </th>
        <th style="width:25em">Действие</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
      <tr (dblclick)="open(rowData)">
        <td>
          <a href="#" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>
        <td *ngFor="let column of columns" class="p-resizable-column" style="text-align: center;"
          [ngStyle]="column.style" [ngSwitch]="column.type">
          <span *ngSwitchCase="'date'">
            <span>
              {{rowData[column.field]  || ''  | date:'dd.MM.yyyy HH:mm:ss'}}</span></span>
          <span style="text-align: right;" *ngSwitchCase="'number'">{{rowData[column.field] | number:'1.2-4'}}</span>
          <span *ngSwitchCase="'boolean'">
            <i *ngIf="rowData[column.field]" class="fa fa-check-square"></i>
            <i *ngIf="!rowData[column.field]" class="far fa-square"></i>
          </span>
          <span *ngSwitchCase="'string'">{{rowData[column.field] || '' }}</span>
          <span *ngSwitchDefault>{{rowData[column.field]}}</span>
        </td>
        <td>
          <div *ngIf="rowData.isModifyTask.toString() ==='true'" class="p-g p-g-nopad" style="padding: 0em; margin: 0em;">
            <button pButton type="button" class="p-button-info"
              icon="pi pi-times" (click)= "open(rowData)" label="Выполнить доработку" style="offset: 5px;"></button>
          </div>
          <div *ngIf="rowData.isModifyTask.toString() !=='true'">
            <div *ngIf="!rowData.DecisionID" class="p-g p-g-nopad" style="padding: 0em; margin: 0em;">
              <button *ngIf="rowData.CanApprove.toString()==='true'" pButton type="button" class="p-button-success"
                icon="pi pi-check" (click)="CompleteTask(rowData)" label="Утвердить" style="offset: 5px;"></button>
              <span style="width: 5px;"></span>
              <button *ngIf="rowData.CanReject.toString()==='true'" pButton type="button" class="p-button-danger"
                icon="pi pi-times" (click)="rowData.DecisionID = 1" label="Отклонить" style="offset: 5px;"></button>
              <button *ngIf="rowData.CanModify.toString()==='true'" pButton type="button" class="p-button-info"
                icon="pi pi-pencil" (click)="rowData.DecisionID = 2" label="Доработать"
                style="offset: 5px;"></button>
            </div>
            <div *ngIf="rowData.DecisionID">
              <div>
                <button pButton type="button" icon="pi pi-check" class="p-button-success" label="OK"
                  (click)="CompleteTask(rowData)"></button>
                <span style="width: 5px;"></span>
                <input type="text" pInputText
                  placeholder='{{rowData.DecisionID === 1 ? "Причина отклонения" : "Причина доработки"}}'
                  [(ngModel)]="rowData.DecisionComment">
                <span style="width: 5px;"></span>
                <button pButton type="button" icon="pi pi-times" class="p-button-danger" label="Отмена"
                  (click)="rowData.DecisionID = 0"></button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
      <tr>
        <td [attr.colspan]="columnsLength + 2">
          <div class="p-g p-fluid" style="padding:10px">
            <bp-task [Task]="rowData"></bp-task>
          </div>
        </td>
      </tr>
    </ng-template>

  </p-table>
</div>