<p-tabView #tv
  [controlClose]="true" 
  [activeIndex]="(tabStore.state$ | async).selectedIndex" 
  (onClose)="handleClose($event)" 
  (onChange)="selectedIndexChange($event)">
  <p-tabPanel #tp *ngFor="let tab of (tabStore.state$ | async).tabs; let i = index;" header="{{ tab.header | bcEllipsis:40 }}"
    [leftIcon]="tab.icon" [closable]="tab.type !== 'home'" [selected]='i === tabStore.selectedIndex'>
    <ng-template pTemplate="content">
      <div class="card" style="padding: 0; margin: 0">
        <dynamic-component [type]="tab.type" [kind]="tab.id ? 'form' :'list'" [id]="tab.id || ''" 
        [data]="tab.data"></dynamic-component>
      </div>
    </ng-template>
  </p-tabPanel>
</p-tabView>