$primaryColor:#612FBE;
$primaryTextColor:#ffffff;
$inputFocusBorderColor:#B097DE;
$inputFocusBorderShadowColor:rgba(97,47,190,.25);
$highlightBgColor:#612FBE;
$highlightTextColor:#ffffff;
$headerBgColor:#f5f5f5;
$headerHoverBgColor:#dcdcdc;
$headerHoverBorderColor:#c4c4c4;
$headerTextColor:#292B2C;
$headerBorderColor:#dddddd;
$headerIconColor:#999999;
$headerIconHoverColor:#bd9090;
$datableEvenRowBgColor:#f9f9f9;
$datatableHoverBgColor:#f5f5f5;
$buttonTextColor:#ffffff;
$buttonBgColor:#612FBE;
$buttonBorderColor:#612FBE;
$buttonHoverBgColor:#5024A1;
$buttonHoverBorderColor:#46208E;
$buttonActiveBgColor:#46208E;
$buttonActiveBorderColor:#341A64;
$buttonFocusBorderShadow:rgba(97,47,190,.5);

@import '../sass/theme-v4/_theme';
