$primaryColor:#20C997;
$primaryTextColor:#ffffff;
$inputFocusBorderColor:#8FE4CB;
$inputFocusBorderShadowColor:rgba(32,201,151,.25);
$highlightBgColor:#20C997;
$highlightTextColor:#ffffff;
$headerBgColor:#f5f5f5;
$headerHoverBgColor:#dcdcdc;
$headerHoverBorderColor:#c4c4c4;
$headerTextColor:#292B2C;
$headerBorderColor:#dddddd;
$headerIconColor:#999999;
$headerIconHoverColor:#bd9090;
$datableEvenRowBgColor:#f9f9f9;
$datatableHoverBgColor:#f5f5f5;
$buttonTextColor:#ffffff;
$buttonBgColor:#20C997;
$buttonBorderColor:#20C997;
$buttonHoverBgColor:#18A57B;
$buttonHoverBorderColor:#13956E;
$buttonActiveBgColor:#13956E;
$buttonActiveBorderColor:#136E52;
$buttonFocusBorderShadow:rgba(32,201,151,.5);

@import '../sass/theme-v4/_theme';
