$primaryColor:#78909c;
$primaryTextColor:#ffffff;
$inputFocusBorderColor:#b0bec5;
$highlightBgColor:#78909c;
$highlightTextColor:#ffffff;
$headerBgColor:#f5f5f5;
$headerHoverBgColor:#dcdcdc;
$headerHoverBorderColor:#c4c4c4;
$headerTextColor:#292B2C;
$headerBorderColor:#dddddd;
$headerIconColor:#999999;
$headerIconHoverColor:#777777;
$datableEvenRowBgColor:#f9f9f9;
$datatableHoverBgColor:#f5f5f5;

@import '../sass/theme/_theme';