<div>
  <p-sidebar [(visible)]="sidebarDisplay" [style]="{width:'40em'}" position="right">
    <p-accordion>

      <p-accordionTab header="View">
        <p-splitButton [label]="'Mode: '+ _presentation" class="ui-button-secondary" (onClick)="presentation = $event"
          [model]="dataViewTypeChangeCommands"></p-splitButton>
      </p-accordionTab>
      <!-- <p-accordionTab header="Settings">
        <div>
          <p-dropdown #ddSettings [ngModel]="uss.selectedSettings" (onChange)="onSettingsChange($event)"
            (onBlur)="onSettingsBlur($event, ddSettings)" (onFocus)="onSettingsFocus($event)" optionLabel="description"
            [options]="uss.allSettings" filter="true" editable="true"></p-dropdown>
          <button type="button" pButton label="New" (click)="onSettingsCreated(ddSettings)"></button>
          <button id="CopySettings" class="ui-button-warning" pButton type="button" (click)="copySettings()"
            label="Copy"></button>
          <button type="button" pButton class="ui-button-danger" label="Delete"
            (click)="deleteSelectedSettings()"></button>
        </div> -->

      <!-- <p-table #settingsTbl [value]="uss.allSettings" [rows]="uss.allSettings" [responsive]="true">
          <ng-template pTemplate="body" let-rowData let-index="rowIndex">
            <tr *ngIf="rowData.id !=''" [id]="rowData.id" (dblclick)="uss.setSelectedSettings(rowData)">
              <td>
                <i *ngIf="rowData.id === uss.selectedSettings.id" style="padding-right: 7px;"
                  class="fa fa-check-square"></i>
                {{rowData.description ? rowData.description : 'Default'}}
              </td>
            </tr>
            <tr *ngIf="rowData.id === '' && rowData !== uss.defaultSettings" [id]="rowData.id">
              <input [ngModel]="rowData.description" pInputText type="string"
                (ngModelChange)="onSettingsDescriptionChanged(rowData)">
            </tr>
          </ng-template>
        </p-table> -->

      <!-- </p-accordionTab> -->

      <p-accordionTab [header]="'Filters'">


        <div style="display: flex; flex-direction: column; overflow-x: hidden;">
          <div class="ui-toolbar-group-left">
            <p-dropdown #ddSettingsFilter [(ngModel)]="uss.selectedSettingsFilterDescription"
              (onChange)="_usOnUserSettingsChangeFilter($event, ddSettingsFilter)"
              (onBlur)="_usOnUserSettingsBlurFilter($event, ddSettingsFilter)" optionLabel="description" [options]="uss.allSettingsFilter"
              filter="true" [editable]="!this.uss.readonlyFilter">
            </p-dropdown>
          </div>
          <p-toolbar>
            <div class="ui-toolbar-group-right">
              <button id="showActiveFiltersOn" class="ui-button-success" pButton type="button" label="Active"
                (click)="showActiveFilters = true" [disabled]="!activeFilters.length"></button>
              <button id="showActiveFiltersOff" class="ui-button-warning" label="All" pButton type="button"
                (click)="showActiveFilters = false" [disabled]="!allFilters.length"></button>
              <button id="disableFilters" class="ui-button-secondary" label="Disable all" pButton type="button"
                (click)="clearAllFilters()" [disabled]="!activeFilters.length"></button>
            </div>
          </p-toolbar>
        </div>
        <p-table #columnsTbl [value]="showActiveFilters ? activeFilters : allFilters"
          [rows]="showActiveFilters ? activeFilters : allFilters" [responsive]="true" [scrollable]="true">
          <ng-template pTemplate="body" let-rowData let-index="rowIndex">
            <tr [id]="rowData.left"
              (dblclick)="setColumnFilterIsActive(this.getColumn(rowData.left), !rowData.isActive)">
              <td style="width: 20px;">
                <i *ngIf="rowData.isActive" style="padding-right: 7px;" class="fa fa-check-square"></i>
                <i *ngIf="!rowData.isActive" class="far fa-square" style="padding-right: 7px;"></i>
              </td>
              <td style="width: 30%;">
                {{rowData.left}}
              </td>
              <td style="width: 70px; text-align: center;">
                <p-dropdown [ngStyle]="{'width': '50px', 'text-align': 'center'}"
                  [options]="matchOperatorsByType[getColumn(rowData.left).type.toString()]" optionLabel="label"
                  optionValue="value" [ngModel]="rowData.right"
                  (ngModelChange)="update(getColumn(rowData.left), rowData.right, $event.value)" [showClear]="true"
                  appendTo="body">
                </p-dropdown>
              </td>
              <td style="width: auto;" [ngSwitch]="getColumn(rowData.left).type">

                <div *ngSwitchCase="'number'">
                  <input [ngModel]="rowData.right" pInputText type="numeric"
                    (ngModelChange)="update(getColumn(rowData.left), $event, rowData.center || '>=')">
                </div>
                <div *ngSwitchCase="'date'">
                  <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="rowData.right" readonlyInput="true"
                    [appendTo]="'body'" [locale]="locale"
                    (ngModelChange)="update(getColumn(rowData.left), $event,  rowData.center || '=')"
                    [dateFormat]="dateFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                  </p-calendar>
                </div>
                <div *ngSwitchCase="'datetime'">
                  <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="rowData.right" readonlyInput="true"
                    [appendTo]="'body'" [locale]="locale"
                    (ngModelChange)="update(getColumn(rowData.left), $event,  rowData.center || '=')"
                    [dateFormat]="dateFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                  </p-calendar>
                </div>
                <div *ngSwitchCase="'string'">
                  <input [ngModel]="rowData.right" pInputText
                    (ngModelChange)="update(getColumn(rowData.left), $event,  rowData.center || 'like')">
                </div>
                <div *ngSwitchCase="'enum'">
                  <p-dropdown [options]="getColumn(rowData.left).value" [ngModel]="rowData.right"
                    (ngModelChange)="update(getColumn(rowData.left), $event, rowData.center ||  '=')" [showClear]="true"
                    appendTo="body">
                  </p-dropdown>
                </div>
                <div *ngSwitchDefault>
                  <j-autocomplete-png [checkValue]="false"
                    [type]="rowData.right?.type || getColumn(rowData.left).type || 'string'" [ngModel]="rowData.right"
                    [showOpen]="true" [showFind]="true" [showClear]="true"
                    (ngModelChange)="update(getColumn(rowData.left), $event,  rowData.center || '=')"
                    [appendTo]="'body'">
                  </j-autocomplete-png>
                </div>
                <!-- {{rowData.right && rowData.right.id ? rowData.right.value : rowData.right}} -->
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>

      <p-accordionTab header="Columns">
        <div>
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <p-dropdown #ddSettings [(ngModel)]="uss.selectedSettingsDescription"
                (onChange)="_usOnUserSettingsChange($event, ddSettings)"
                (onBlur)="_usOnUserSettingsBlur($event, ddSettings)" optionLabel="description"
                [options]="uss.allSettings" filter="true" [editable]="!this.uss.readonly">
              </p-dropdown>
            </div>
            <div class="ui-toolbar-group-right">
              <!-- <button type="button" class="ui-button-success" pButton label="New"
                (click)="onSettingsCreated(ddSettings)"></button> -->
              <button id="CopySettings" class="ui-button-success" pButton type="button"
                (click)="this.uss.copySettings()" label="Copy"></button>
              <button type="button" pButton class="ui-button-danger" label="Delete" [disabled]="this.uss.readonly"
                (click)="uss.deleteSelectedSettings()"></button>
              <button type="button" pButton class="ui-button-warning" label="Save" [disabled]="!this.uss.isModify"
                (click)="usSaveCurrentSettings()"></button>
              <button id="resetColumns" class="ui-button-secondary" pButton type="button" label="Reset"
                (click)="uss.resetSelectedSettings()"></button>
            </div>
          </p-toolbar>
        </div>

        <p-table #columnsTbl [value]="columns" [rows]="columns" [responsive]="true"
          (onRowReorder)="this.uss.isModify = true">

          <ng-template pTemplate="body" let-rowData let-index="rowIndex">
            <tr *ngIf="!this.uss.readonly" [id]="rowData.field" [pReorderableRow]="index"
              (dblclick)="invertColumnHidden(rowData)">
              <td pReorderableRowHandle>
                <i *ngIf="!rowData.hidden" style="padding-right: 7px;" class="fa fa-check-square"></i>
                <i *ngIf="rowData.hidden" class="far fa-square" style="padding-right: 7px;"></i>
                {{rowData.label}}
              </td>
            </tr>
            <tr *ngIf="this.uss.readonly" [id]="rowData.field">
              <td>
                <i *ngIf="!rowData.hidden" style="padding-right: 7px;" class="fa fa-check-square"></i>
                <i *ngIf="rowData.hidden" class="far fa-square" style="padding-right: 7px;"></i>
                {{rowData.label}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <p-toolbar>
            <div class="ui-toolbar-group-left">
              <button id="Cancel" class="ui-button-secondary" pButton type="button" (click)="onCancel()"
                label="Cancel"></button>
              <button id="Default" class="ui-button-info" pButton type="button" (click)="setDefaultSettings()"
                label="Default"></button>
            </div>
            <div class="ui-toolbar-group-right">
              <button id="OK" class="ui-button-success" icon="pi pi-check" pButton type="button" (click)="onOk()"
                label="OK"></button>
            </div>
          </p-toolbar> -->
        <!-- </div> -->
      </p-accordionTab>

    </p-accordion>
  </p-sidebar>

  <div style="display: flex; flex-direction: column; overflow-x: hidden;">
    <ng-content></ng-content>
    <p-toolbar *ngIf="!readonly">
      <div class="ui-toolbar-group-left">
        <button id="add" icon="fa fa-plus" class="ui-button-success" pButton type="button" (click)="add()"
          pTooltip="Add" tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)"></button>
        <button id="addFolder" icon="fas fa-folder-plus" class="ui-button-warning" pButton type="button"
          (click)="add(true)" pTooltip="Add folder" tooltipPosition="top" showDelay="2000"
          [disabled]="(lds.busy$ | async)"></button>
        <button id="open" icon="far fa-edit" class="ui-button-secondary" pButton type="button" pTooltip="Open"
          tooltipPosition="top" showDelay="2000" (click)="open()" [disabled]="(lds.busy$ | async)"
          *ngIf="selectedData"></button>
        <button id="copy" icon="far fa-copy" class="ui-button-secondary" pButton type="button" (click)="copy()"
          pTooltip="Copy" tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)"
          *ngIf="selectedData"></button>
        <button id="post" icon="fa fa-check" class="ui-button-warning" pButton type="button" (click)="post()"
          pTooltip="Post" tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)"
          *ngIf="selectedData && isDoc"></button>
        <button id="unpost" icon="far fa-square" class="ui-button-warning" pButton type="button" pTooltip="Unpost"
          tooltipPosition="top" showDelay="2000" (click)="post('unpost')" [disabled]="(lds.busy$ | async)"
          *ngIf="selectedData && isDoc"></button>
        <button id="delete" icon="far fa-trash-alt" class="ui-button-danger" pButton type="button" (click)="delete()"
          pTooltip="Delete" tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)"
          *ngIf="selectedData"></button>
      </div>
      <div class="ui-toolbar-group-right">

        <!-- <button pButton type="button" [label]="(this.showDeleted ? 'Hide ' : 'Show ') + 'deleted'"
          class="ui-button-secondary" (click)="showDeletedSet(!this.showDeleted, true)"
          [disabled]="(lds.busy$ | async)"></button>
        <button pButton type="button" label="Clear filters" class="ui-button-secondary" (click)="clearAllFilters()"
          icon="far fa-trash-alt" [disabled]="isNoFiltered() || (lds.busy$ | async)"></button>
        <i *ngIf="this.hierarchy" class="pi pi-bars" style="margin-left: 0.5em; margin-right: 0.5em;"></i>
        <p-selectButton *ngIf="this.hierarchy" [options]="presentationTypes" [(ngModel)]="presentation"
          (onChange)="onChangePresentation()"></p-selectButton> -->
        <p-slideMenu #addMenu [model]="addMenuItems" [popup]="true" effectDuration="300" easing="ease-in"
          [viewportHeight]="155"></p-slideMenu>
        <button #addMenuBtn type="button" pButton icon="pi pi-list" (click)="addMenu.toggle($event)"></button>
        <p-button type="text" (click)="sidebarDisplay = !sidebarDisplay" icon="fa fa-cog"></p-button>
      </div>
    </p-toolbar>

    <div *ngIf="treeNodesVisible">
      <p-treeTable #treeTable [value]="(treeNodes$ | async)" selectionMode="single" dataKey="id"
        [(selection)]="selectedNode" (onNodeExpand)="onNodeExpand($event)" (onNodeCollapse)="onNodeExpand($event)"
        [filterDelay]="500" [columns]="visibleColumns" [reorderableColumns]="true" [resizableColumns]="true"
        columnResizeMode="expand" [scrollable]="true" sortMode="multiple" [scrollHeight]="(pageSize$ | async)*29 + 'px'"
        class="noselect" [contextMenu]="cm" [multiSortMeta]="multiSortMeta" (onLazyLoad)="onLazyLoad($event)"
        [lazy]="true" [(contextMenuSelection)]="selectedNode" (onContextMenuSelect)="onContextMenuSelect($event)"
        (onColResize)="onColResize($event)" (onColReorder)="onColReorder($event)">

        <ng-template pTemplate="colgroup">
          <colgroup>
            <col *ngFor="let column of columns" [ngStyle]="column.style">
          </colgroup>
        </ng-template>

        <ng-template #ttt pTemplate="header" let-columns>
          <tr>
            <!-- <th [ngStyle]="{'width': '1px', 'text-align': 'center'}"></th> -->
            <th ttReorderableColumn ttResizableColumn [ttSortableColumn]="column.field" ttResizableColumn
              *ngFor="let column of columns" [ngStyle]="column.style">
              {{column.label}}
              <p-treeTableSortIcon [field]="column.field"></p-treeTableSortIcon>
            </th>
          </tr>
          <tr>


            <!-- <th [ngStyle]="{'width': '1px', 'text-align': 'center'}"></th> -->
            <th *ngFor="let column of columns" [ngStyle]="column.style" [ngSwitch]="column.type"
              class="ui-fluid ui-column-filter">
              <!-- <div style="display: flex; flex-direction: row;"> -->
              <div *ngSwitchCase="'boolean'">
                <p-triStateCheckbox [ngModel]="column.filter.right || false"
                  (ngModelChange)="update(column, $event, '=')"></p-triStateCheckbox>
              </div>
              <div *ngIf="false && column.type !== 'boolean'">

                <button *ngIf="column.filter.isActive" icon="fa fa-check-square" class="ui-button-secondary" pButton
                  type="button" (click)="setColumnFilterIsActive(column, !column.filter.isActive)"></button>
                <button *ngIf="!column.filter.isActive" icon="far fa-square" class="ui-button-secondary" pButton
                  type="button" (click)="setColumnFilterIsActive(column, !column.filter.isActive)"></button>

                <!-- <i *ngIf="column.filter.isActive" style="padding-right: 7px;" class="fa fa-check-square"
                    (onclick)="column.filter.isActive = !column.filter.isActive"></i>
                  <i *ngIf="!column.filter.isActive" class="far fa-square" style="padding-right: 7px;"
                    (onclick)="column.filter.isActive = !column.filter.isActive"></i> -->
                <!-- <p-checkbox [ngModel]="column.filter.isActive" [binary]="true"
                    (ngModelChange)="onFilterIsActiveChange(column)"></p-checkbox> -->
              </div>
              <div *ngSwitchCase="'number'">
                <input [ngModel]="column.filter.right" pInputText type="numeric"
                  (ngModelChange)="update(column, $event, column.filter.center || '>=')">
              </div>
              <div *ngSwitchCase="'date'">
                <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="column.filter.right"
                  readonlyInput="true" [appendTo]="'body'" [locale]="locale"
                  (ngModelChange)="update(column, $event,  column.filter.center || '=')" [dateFormat]="dateFormat"
                  [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                </p-calendar>
              </div>
              <div *ngSwitchCase="'datetime'">
                <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="column.filter.right"
                  readonlyInput="true" [appendTo]="'body'" [locale]="locale"
                  (ngModelChange)="update(column, $event,  column.filter.center || '=')" [dateFormat]="dateFormat"
                  [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                </p-calendar>
              </div>
              <div *ngSwitchCase="'string'">
                <input [ngModel]="column.filter.right" pInputText (ngModelChange)="update(column, $event, 'like')">
              </div>
              <div *ngSwitchCase="'enum'">
                <p-dropdown [options]="column.value" [ngModel]="column.filter.right"
                  (ngModelChange)="update(column, $event, column.filter.center ||  '=')" [showClear]="true"
                  appendTo="body"></p-dropdown>
              </div>
              <div *ngSwitchDefault>
                <j-autocomplete-png [checkValue]="false" [type]="column.filter.right?.type || column.type || 'string'"
                  [ngModel]="column.filter.right" [showOpen]="true" [showFind]="true" [showClear]="true"
                  (ngModelChange)="update(column, $event,  column.filter.center || '=')" [id]="column.field"
                  [appendTo]="'body'">
                </j-autocomplete-png>
              </div>
              <!-- </div> -->
            </th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" [ttContextMenuRow]="rowNode"
            (dblclick)="onNodeDblclick(rowNode)">
            <!-- <td class="ui-resizable-column" [ngStyle]="{'width': '1px', 'text-align': 'center'}"></td> -->
            <td *ngFor="let column of columns" [ngStyle]="column.style">
              <span [ngSwitch]="column.type" [id]="column.field">
                <span *ngSwitchCase="'date'" [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy'}}</span>
                <span *ngSwitchCase="'datetime'"
                  [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                <span *ngSwitchCase="'number'" [id]="column.field">{{rowData[column.field] | number:'1.2-4'}}</span>
                <span *ngSwitchCase="'boolean'" [id]="column.field">
                  <i *ngIf="rowData[column.field]" class="fa fa-check-square" [id]="column.field"></i>
                  <i *ngIf="!rowData[column.field]" class="far fa-square" [id]="column.field"></i>
                </span>
                <span *ngSwitchCase="'string'" [id]="column.field">
                  <span *ngIf="column.field === 'description'">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <i *ngIf="rowData.isfolder && !rowNode.expanded && rowData['deleted']" class="pi pi-folder"
                      style="color: #d9534f"> </i>
                    <i *ngIf="rowData.isfolder && !rowNode.expanded && !rowData['deleted']" class="pi pi-folder"
                      style="color: #d1cf38"> </i>
                    <i *ngIf="rowData.isfolder && rowNode.expanded && rowData['deleted']" class="pi pi-folder-open"
                      style="color: #d9534f"> </i>
                    <i *ngIf="rowData.isfolder && rowNode.expanded && !rowData['deleted']" class="pi pi-folder-open"
                      style="color: #d1cf38"> </i>
                    <i *ngIf="!rowData.isfolder && rowData['deleted']" class="pi pi-minus" style="color: #d9534f">
                    </i>
                    <i *ngIf="!rowData.isfolder && !rowData['deleted']" class="pi pi-minus" style="color: #2434c7">
                    </i>
                  </span>
                  {{rowData[column.field]}}
                </span>
                <span *ngSwitchCase="'enum'" [id]="column.field">{{rowData[column.field]}}</span>
                <span *ngSwitchDefault [id]="column.field">{{rowData[column.field]?.value}}</span>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>

    <div *ngIf="!treeNodesVisible">
      <p-table #tbl [value]="dataSource.result$ | async" selectionMode="multiple" dataKey="id" [lazy]="true"
        [rows]="pageSize$ | async" sortMode="multiple" [scrollable]="true" [reorderableColumns]="true"
        [filterDelay]="1000" (onContextMenuSelect)="onContextMenuSelect($event)" [contextMenu]="cm"
        [(contextMenuSelection)]="contextMenuSelection" [metaKeySelection]="true" [columns]="visibleColumns"
        class="noselect" [(selection)]="selection" (onLazyLoad)="onLazyLoad($event)" [(multiSortMeta)]="multiSortMeta"
        [lazyLoadOnInit]="false" [resizableColumns]="true" columnResizeMode="expand" (onColResize)="onColResize($event)"
        (onColReorder)="onColReorder($event)">
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col [style.width]="30">
            <col *ngFor="let col of columns" [style]="col.style">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{'width': '30px', 'text-align': 'center'}"></th>
            <th pReorderableColumn pResizableColumn [pSortableColumn]="column.field" *ngFor="let column of tbl.columns"
              [ngStyle]="column.style">
              {{column.label}}
              <p-sortIcon [field]="column.field"></p-sortIcon>
            </th>
            <th></th>
          </tr>
          <tr>
            <th [ngStyle]="{'width': '30px', 'text-align': 'center', padding: 0, margin: 0}">
              <p-triStateCheckbox [ngModel]="columns[postedCol.field]?.value"
                (ngModelChange)="update(postedCol, $event, '=')"></p-triStateCheckbox>
            </th>
            <th *ngFor="let column of tbl.columns" [ngStyle]="column.style" [ngSwitch]="column.type"
              class="ui-fluid ui-column-filter">
              <div style="display: flex; flex-direction: row;">
                <div *ngSwitchCase="'boolean'">
                  <p-triStateCheckbox [ngModel]="column.filter.right"
                    (ngModelChange)="update(column, $event, column.filter.center || '=')">
                  </p-triStateCheckbox>
                </div>
                <div *ngIf="column.type !== 'boolean'">

                  <button *ngIf="column.filter.isActive" icon="fa fa-check-square" class="ui-button-secondary" pButton
                    type="button" (click)="setColumnFilterIsActive(column, !column.filter.isActive)"></button>
                  <button *ngIf="!column.filter.isActive" icon="far fa-square" class="ui-button-secondary" pButton
                    type="button" (click)="setColumnFilterIsActive(column, !column.filter.isActive)"></button>

                  <!-- <i *ngIf="column.filter.isActive" style="padding-right: 7px;" class="fa fa-check-square"
                    (onclick)="column.filter.isActive = !column.filter.isActive"></i>
                  <i *ngIf="!column.filter.isActive" class="far fa-square" style="padding-right: 7px;"
                    (onclick)="column.filter.isActive = !column.filter.isActive"></i> -->
                  <!-- <p-checkbox [ngModel]="column.filter.isActive" [binary]="true"
                    (ngModelChange)="onFilterIsActiveChange(column)"></p-checkbox> -->
                </div>

                <div *ngSwitchCase="'number'">
                  <input [ngModel]="column.filter.right" pInputText type="numeric"
                    (ngModelChange)="update(column, $event, column.filter.center || '=')">
                </div>
                <div *ngSwitchCase="'date'">
                  <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="column.filter.right"
                    readonlyInput="true" [appendTo]="'body'" [locale]="locale"
                    (ngModelChange)="update(column, $event, column.filter.center || '=')" [dateFormat]="dateFormat"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                  </p-calendar>
                </div>
                <div *ngSwitchCase="'datetime'">
                  <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="column.filter.right"
                    readonlyInput="true" [appendTo]="'body'" [locale]="locale"
                    (ngModelChange)="update(column, $event, column.filter.center ||  '=')" [dateFormat]="dateFormat"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
                  </p-calendar>
                </div>
                <div *ngSwitchCase="'string'">
                  <input [ngModel]="column.filter.right" pInputText
                    (ngModelChange)="update(column, $event, column.filter.center || 'like')">
                </div>
                <div *ngSwitchCase="'enum'">
                  <p-dropdown [options]="column.value" [ngModel]="column.filter.right"
                    (ngModelChange)="update(column, $event, column.filter.center || '=')" [showClear]="true"
                    appendTo="body"></p-dropdown>
                </div>
                <div *ngSwitchDefault>
                  <j-autocomplete-png [checkValue]="false" [type]="column.filter.right?.type || column.type || 'string'"
                    [ngModel]="column.filter.right" [showOpen]="true" [showFind]="true" [showClear]="true"
                    (ngModelChange)="update(column, $event, column.filter.center || '=')" [id]="column.field"
                    [appendTo]="'body'">
                  </j-autocomplete-png>
                </div>
              </div>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="open()" [class]="'scrollTo-' + type">
            <td class="ui-resizable-column" [ngStyle]="{'width': '30px', 'text-align': 'center'}">
              <i *ngIf="!rowData.isfolder && rowData['posted'] && !rowData['deleted']" class="fa fa-check-square"
                style="color: #5cb85c"></i>
              <i *ngIf="!rowData.isfolder && rowData['deleted']" class="fa fa-minus-square" style="color: #d9534f"></i>
              <i *ngIf="!rowData.isfolder && !rowData['posted'] && !rowData['deleted']" class="far fa-square"
                style="color: #f0ad4e"></i>
              <i *ngIf="rowData.isfolder && rowData['deleted']" class="fa fa-folder" style="color: #d9534f"></i>
              <i *ngIf="rowData.isfolder && !rowData['deleted']" class="fa fa-folder" style="color: #d1cf38"></i>
            </td>
            <td *ngFor="let column of tbl.columns" [ngStyle]="column.style" class="ui-resizable-column">
              <span [ngSwitch]="column.type" [id]="column.field">
                <span *ngSwitchCase="'date'" [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy'}}</span>
                <span *ngSwitchCase="'datetime'"
                  [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                <span *ngSwitchCase="'number'" [id]="column.field">{{rowData[column.field] | number:'1.2-4'}}</span>
                <span *ngSwitchCase="'boolean'" [id]="column.field">
                  <i *ngIf="rowData[column.field]" class="fa fa-check-square" [id]="column.field"></i>
                  <i *ngIf="!rowData[column.field]" class="far fa-square" [id]="column.field"></i>
                </span>
                <span *ngSwitchCase="'string'" [id]="column.field">{{rowData[column.field]}}</span>
                <span *ngSwitchCase="'enum'" [id]="column.field">{{rowData[column.field]}}</span>
                <span *ngSwitchDefault [id]="column.field">{{rowData[column.field]?.value}}</span>
              </span>
            </td>
            <td></td>
          </tr>
        </ng-template>

      </p-table>


    </div>

    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-refresh" class="ui-button-secondary" pTooltip="Refresh"
          tooltipPosition="top" showDelay="2000" (click)="refresh(id)" [disabled]="(lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-fast-backward" (click)="first()" pTooltip="First page"
          tooltipPosition="top" showDelay="2000"
          [disabled]="!dataSource?.continuation?.first || (lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-step-backward" (click)="prev()" pTooltip="Previous page"
          tooltipPosition="top" showDelay="2000"
          [disabled]="!dataSource?.continuation?.first || (lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-step-forward" (click)="next()" pTooltip="Next page"
          tooltipPosition="top" showDelay="2000"
          [disabled]="!dataSource?.continuation?.last || (lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-fast-forward" (click)="last()" pTooltip="Last page"
          tooltipPosition="top" showDelay="2000"
          [disabled]="!dataSource?.continuation?.last || (lds.busy$ | async)"></button>
      </div>
    </p-toolbar>

  </div>

</div>
<p-contextMenu #cm [model]="treeNodesVisible ? contexCommands.tree : contexCommands.list"></p-contextMenu>