<div [ngStyle]="{'display': showTree ? 'flex': 'block'}" [class]="'scroll-' + type" [id]="type">

  <div *ngIf="showTree" style="margin-right: 4px">
    <j-tree-list #tl [type]="type" (selectionChange)="parentChange($event)" [owner]="this"></j-tree-list>
  </div>

  <div style="display: flex; flex-direction: column; overflow-x: auto">
    <ng-content></ng-content>
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button id="add" icon="fa fa-plus" class="ui-button-success" pButton type="button" (click)="add()"
          [disabled]="(lds.busy$ | async)"></button>
        <button id="open" icon="fa fa-pencil-square-o" class="ui-button-secondary" pButton type="button"
          (click)="open()" [disabled]="(lds.busy$ | async)" *ngIf="selection?.length == 1"></button>
        <button id="copy" icon="fa fa-copy" class="ui-button-secondary" pButton type="button" (click)="copy()"
          [disabled]="(lds.busy$ | async)" *ngIf="selection?.length == 1"></button>
        <button id="post" icon="fa fa-check" class="ui-button-warning" pButton type="button" (click)="post()"
          [disabled]="(lds.busy$ | async)" *ngIf="selection?.length >=1 && isDoc"></button>
        <button id="unpost" icon="fa fa-square-o" class="ui-button-warning" pButton type="button"
          (click)="post('unpost')" [disabled]="(lds.busy$ | async)" *ngIf="selection?.length >=1 && isDoc"></button>
        <button id="delete" icon="fa fa-trash" class="ui-button-danger" pButton type="button" (click)="delete()"
          [disabled]="(lds.busy$ | async)" *ngIf="selection?.length"></button>
        <button id="showTree" icon="fa fa-sitemap" class="ui-button-secondary" pButton type="button"
          (click)="showTree = !showTree" [disabled]="(lds.busy$ | async)" *ngIf="showTreeButton"></button>
      </div>
    </p-toolbar>
    <p-table #tbl [value]="dataSource.result$ | async" selectionMode="multiple" dataKey="id" [lazy]="true"
      [rows]="pageSize" sortMode="multiple" [scrollable]="true" [reorderableColumns]="true" [filterDelay]="1000"
      (onContextMenuSelect)="onContextMenuSelect($event)" [contextMenu]="cm" [metaKeySelection]="true"
      [columns]="columns$ | async" class="noselect" [scrollHeight]="scrollHeight" [(selection)]="selection"
      (onLazyLoad)="onLazyLoad($event)" [(multiSortMeta)]="multiSortMeta"
      [(contextMenuSelection)]="contextMenuSelection" [lazyLoadOnInit]="false">

      <ng-template pTemplate="header">
        <tr>
          <th [ngStyle]="{'width': '30px', 'text-align': 'center'}"></th>
          <th pReorderableColumn [pSortableColumn]="column.field" *ngFor="let column of tbl.columns"
            [ngStyle]="column.style">
            {{column.label}}
            <p-sortIcon [field]="column.field"></p-sortIcon>
          </th>
          <th></th>
        </tr>
        <tr>
          <th [ngStyle]="{'width': '30px', 'text-align': 'center', padding: 0, margin: 0}">
            <p-triStateCheckbox [ngModel]="filters[postedCol.field]?.value"
              (ngModelChange)="update(postedCol, $event, '=')"></p-triStateCheckbox>
          </th>
          <th *ngFor="let column of tbl.columns" [ngStyle]="column.style" [ngSwitch]="column.type"
            class="ui-fluid ui-column-filter">
            <div *ngSwitchCase="'boolean'">
              <p-triStateCheckbox [ngModel]="filters[column.field]?.value"
                (ngModelChange)="update(column, $event, '=')"></p-triStateCheckbox>
            </div>
            <div *ngSwitchCase="'number'">
              <input [ngModel]="filters[column.field]?.value" pInputText type="numeric"
                (ngModelChange)="update(column, $event, '>=')">
            </div>
            <div *ngSwitchCase="'date'">
              <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="filters[column.field]?.value"
                readonlyInput="true" [appendTo]="'body'" [locale]="locale" (ngModelChange)="update(column, $event, '=')"
                [dateFormat]="dateFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
              </p-calendar>
            </div>
            <div *ngSwitchCase="'datetime'">
              <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="filters[column.field]?.value"
                readonlyInput="true" [appendTo]="'body'" [locale]="locale" (ngModelChange)="update(column, $event, '=')"
                [dateFormat]="dateFormat" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030">
              </p-calendar>
            </div>
            <div *ngSwitchCase="'string'">
              <input [ngModel]="filters[column.field]?.value" pInputText
                (ngModelChange)="update(column, $event, 'like')">
            </div>
            <div *ngSwitchCase="'enum'">
              <p-dropdown [options]="column.value" [ngModel]="filters[column.field]?.value" (ngModelChange)="update(column, $event, 'like')"
                [showClear]="true" appendTo="body"></p-dropdown>
            </div>
            <div *ngSwitchDefault>
              <j-autocomplete-png [checkValue]="false"
                [type]="filters[column.field]?.value?.type || column.type || 'string'"
                [ngModel]="filters[column.field]?.value" [showOpen]="false" [showFind]="true" [showClear]="true"
                (ngModelChange)="update(column, $event, '=')" [id]="column.field">
              </j-autocomplete-png>
            </div>
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData" [pContextMenuRow]="rowData" (dblclick)="open()" [class]="'scrollTo-' + type">
          <td class="ui-resizable-column" [ngStyle]="{'width': '30px', 'text-align': 'center'}">
            <i *ngIf="!rowData.isfolder && rowData['posted'] && !rowData['deleted']" class="fa fa-check-square"
              style="color: #5cb85c"></i>
            <i *ngIf="!rowData.isfolder && rowData['deleted']" class="fa fa-minus-square" style="color: #d9534f"></i>
            <i *ngIf="!rowData.isfolder && !rowData['posted'] && !rowData['deleted']" class="fa fa-square-o"
              style="color: #f0ad4e"></i>
            <i *ngIf="rowData.isfolder && rowData['deleted']" class="fa fa-folder" style="color: #d9534f"></i>
            <i *ngIf="rowData.isfolder && !rowData['deleted']" class="fa fa-folder" style="color: #5cb85c"></i>
          </td>
          <td *ngFor="let column of tbl.columns" [ngStyle]="column.style">
            <span [ngSwitch]="column.type" [id]="column.field">
              <span *ngSwitchCase="'date'" [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy'}}</span>
              <span *ngSwitchCase="'datetime'"
                [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy HH:mm:ss'}}</span>
              <span *ngSwitchCase="'number'" [id]="column.field">{{rowData[column.field] | number:'1.2-4'}}</span>
              <span *ngSwitchCase="'boolean'" [id]="column.field">
                <i *ngIf="rowData[column.field]" class="fa fa-check-square" [id]="column.field"></i>
                <i *ngIf="!rowData[column.field]" class="fa fa-square-o" [id]="column.field"></i>
              </span>
              <span *ngSwitchCase="'string'" [id]="column.field">{{rowData[column.field]}}</span>
              <span *ngSwitchCase="'enum'" [id]="column.field">{{rowData[column.field]}}</span>
              <span *ngSwitchDefault [id]="column.field">{{rowData[column.field]?.value}}</span>
            </span>
          </td>
          <td></td>
        </tr>
      </ng-template>

    </p-table>

    <p-toolbar>
      <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-refresh" class="ui-button-secondary"
          (click)="dataSource.refresh(id.id)" [disabled]="(lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-fast-backward" (click)="selection = []; dataSource?.first()"
          [disabled]="!dataSource?.continuation?.first || (lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-step-backward" (click)="selection = []; dataSource?.prev()"
          [disabled]="!dataSource?.continuation?.first || (lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-step-forward" (click)="selection = []; dataSource?.next()"
          [disabled]="!dataSource?.continuation?.last || (lds.busy$ | async)"></button>
        <button pButton type="button" icon="pi pi-fast-forward" (click)="selection = []; dataSource?.last()"
          [disabled]="!dataSource?.continuation?.last || (lds.busy$ | async)"></button>
      </div>
    </p-toolbar>

  </div>

</div>
<p-contextMenu #cm [model]="contexCommands"></p-contextMenu>