<div [ngStyle]="{'display': 'flex'}" [class]="'scroll-' + type" [id]="type">

  <div style="display: flex; flex-direction: column;">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button id="select" icon="fa fa-check-square-o" label="Select&Close" class="ui-button-warning" pButton
          type="button" [disabled]="!selection" (click)="sl.select(selection)"></button>
        <button id="add" icon="fa fa-plus" class="ui-button-success" pButton type="button" (click)="add()"
          [disabled]="(lds.busy$ | async)"></button>
        <button id="open" icon="far fa-edit" class="ui-button-secondary" pButton type="button" (click)="open()"
          [disabled]="(lds.busy$ | async)" *ngIf="selection"></button>
        <button id="copy" icon="far fa-copy" class="ui-button-secondary" pButton type="button" (click)="copy()"
          [disabled]="(lds.busy$ | async)" *ngIf="selection"></button>
        <button id="delete" icon="far fa-trash-alt" class="ui-button-danger" pButton type="button" (click)="delete()"
          [disabled]="(lds.busy$ | async)" *ngIf="selection"></button>
      </div>
    </p-toolbar>
    <div>
      <p-treeTable #treeTable [value]="treeNodes$ | async" selectionMode="single" dataKey="id" [(selection)]="selection"
        (onNodeSelect)="onNodeSelect($event)" [multiSortMeta]="multiSortMeta" [filterDelay]="500" [columns]="columns"
        [scrollable]="true" [reorderableColumns]="true" (onLazyLoad)="onLazyLoad($event)" [resizableColumns]="true"
        columnResizeMode="expand">

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col>
            <col *ngFor="let column of columns">
          </colgroup>
        </ng-template>

        <!-- <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let column of columns" [ngStyle]="column.style">
              {{column.label}}
            </th>
          </tr>
        </ng-template> -->

        <ng-template #ttt pTemplate="header" let-columns>
          <tr>
            <th [ttSortableColumn]="column.field" ttResizableColumn
              *ngFor="let column of columns" [ngStyle]="column.style">
              {{column.label}}
              <p-treeTableSortIcon  [field]="column.field"></p-treeTableSortIcon >
            </th>
          </tr>
          <tr cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial>
            <th *ngFor="let column of columns" [ngStyle]="column.style" [ngSwitch]="column.type"
              class="ui-fluid ui-column-filter">
              <div *ngSwitchCase="'boolean'">
                <p-triStateCheckbox [ngModel]="filters[column.field]?.value"
                  (ngModelChange)="update(column, $event, '=')"></p-triStateCheckbox>
              </div>
              <div *ngSwitchCase="'number'">
                <input [ngModel]="filters[column.field]?.value" pInputText type="numeric"
                  (ngModelChange)="update(column, $event, '>=')">
              </div>
              <div *ngSwitchCase="'date'">
                <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="filters[column.field]?.value"
                  readonlyInput="true" [appendTo]="'body'" [locale]="locale"
                  (ngModelChange)="update(column, $event, '=')" [dateFormat]="dateFormat" [monthNavigator]="true"
                  [yearNavigator]="true" yearRange="2010:2030">
                </p-calendar>
              </div>
              <div *ngSwitchCase="'datetime'">
                <p-calendar selectionMode="range" showButtonBar="true" [ngModel]="filters[column.field]?.value"
                  readonlyInput="true" [appendTo]="'body'" [locale]="locale"
                  (ngModelChange)="update(column, $event, '=')" [dateFormat]="dateFormat" [monthNavigator]="true"
                  [yearNavigator]="true" yearRange="2010:2030">
                </p-calendar>
              </div>
              <div *ngSwitchCase="'string'">
                <input [ngModel]="filters[column.field]?.value" pInputText
                  (ngModelChange)="update(column, $event, 'like')">
              </div>
              <div *ngSwitchCase="'enum'">
                <p-dropdown [options]="column.value" [ngModel]="filters[column.field]?.value"
                  (ngModelChange)="update(column, $event, '=')" [showClear]="true" appendTo="body"></p-dropdown>
              </div>
              <div *ngSwitchDefault>
                <j-autocomplete-png [checkValue]="false"
                  [type]="filters[column.field]?.value?.type || column.type || 'string'"
                  [ngModel]="filters[column.field]?.value" [showOpen]="false" [showFind]="false" [showClear]="true"
                  (ngModelChange)="update(column, $event, '=')" [id]="column.field" [appendTo]="'body'">
                </j-autocomplete-png>
              </div>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td *ngFor="let column of columns" [ngStyle]="column.style">
              <span [ngSwitch]="column.type" [id]="column.field">
                <span *ngSwitchCase="'date'" [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy'}}</span>
                <span *ngSwitchCase="'datetime'"
                  [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                <span *ngSwitchCase="'number'" [id]="column.field">{{rowData[column.field] | number:'1.2-4'}}</span>
                <span *ngSwitchCase="'boolean'" [id]="column.field">
                  <i *ngIf="rowData[column.field]" class="fa fa-check-square" [id]="column.field"></i>
                  <i *ngIf="!rowData[column.field]" class="far fa-square" [id]="column.field"></i>
                </span>
                <span *ngSwitchCase="'string'" [id]="column.field">
                  <span *ngIf="column.field === 'description'">
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    <i *ngIf="rowData.isfolder && !rowNode.expanded && rowData['deleted']" class="pi pi-folder"
                      style="color: #d9534f"> </i>
                    <i *ngIf="rowData.isfolder && !rowNode.expanded && !rowData['deleted']" class="pi pi-folder"
                      style="color: #d1cf38"> </i>
                    <i *ngIf="rowData.isfolder && rowNode.expanded && rowData['deleted']" class="pi pi-folder-open"
                      style="color: #d9534f"> </i>
                    <i *ngIf="rowData.isfolder && rowNode.expanded && !rowData['deleted']" class="pi pi-folder-open"
                      style="color: #d1cf38"> </i>
                    <i *ngIf="!rowData.isfolder && rowData['deleted']" class="pi pi-minus" style="color: #d9534f"> </i>
                    <i *ngIf="!rowData.isfolder && !rowData['deleted']" class="pi pi-minus" style="color: #2434c7"> </i>
                  </span>
                  {{rowData[column.field]}}
                </span>
                <span *ngSwitchCase="'enum'" [id]="column.field">{{rowData[column.field]}}</span>
                <span *ngSwitchDefault [id]="column.field">{{rowData[column.field]?.value}}</span>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>