<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" icon="pi pi-plus" class="p-button-success" (click)="add()"></button>
    <button pButton type="button" icon="pi pi-clone" class="p-button-secondary" (click)="copy()"
      *ngIf="selection?.length === 1"></button>
    <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="delete()"
      *ngIf="selection?.length > 0"></button>
  </div>
  <div class="p-toolbar-group-right">
    <div class="p-inputgroup">
    <input #searchKeyword type="text" placeholder="Keyword"
      style="width:auto">
      <button pButton type="button" icon="pi pi-search" class="p-button-success" (click)="search(searchKeyword.value)"></button>
      <button pButton type="button" icon="pi pi-ban" class="p-button-danger" (click)="searchKeyword.value = ''; search(searchKeyword.value)"></button>
  </div>
  </div>
</p-toolbar>

<p-table #tablePart [columns]="columns" [value]="dataSource" selectionMode="multiple" [metaKeySelection]="true"
  [(selection)]="selection" (sortFunction)="customSort($event)" [customSort]="true" dataKey="index" [scrollable]="true"
  (onEditComplete)="onEditComplete($event)" (onEditCancel)="onEditCancel($event)" (onEditInit)="onEditInit($event)"
  scrollHeight="37vh" [reorderableColumns]="true" [resizableColumns]="true" columnResizeMode="expand" styleClass="p-datatable-sm">

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width: 50px">
      <col *ngFor="let col of columns" [style.width]="col.width">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 50px">#</th>
      <th *ngFor="let col of columns" [ngStyle]="col.headerStyle" [pSortableColumn]="col.field" pResizableColumn
        pReorderableColumn>
        {{col.label}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th pResizableColumn></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      <td style="width: 50px; text-align: right;">
        {{rowIndex + 1}}
      </td>
      <td *ngFor="let col of columns" [ngStyle]="col.style" pEditableColumn [pEditableColumnField]="col.field"
        class="p-resizable-column">
        <p-cellEditor>
          <ng-template   pTemplate="input">
            <j-control [control]="col.control" [form]="getControl(rowData.index)"></j-control>
          </ng-template>
          <ng-template  pTemplate="output">
            <span  [ngSwitch]="col.type">
              <span 
                *ngSwitchCase="'date'">{{ getControlValue(rowData.index, col.field, col.type) | date:'dd.MM.yyyy' }}</span>
              <span
                *ngSwitchCase="'datetime'">{{ getControlValue(rowData.index, col.field, col.type) | date:'dd.MM.yyyy HH:mm:ss' }}</span>
              <span *ngSwitchCase="'number'">{{getControl(rowData.index).get(col.field)?.value | number:'1.2-2'}}</span>
              <span *ngSwitchCase="'script'">{{getControl(rowData.index).get(col.field)?.value}}</span>
              <span *ngSwitchCase="'boolean'">
                <i
                  [class]="getControl(rowData.index).get(col.field)?.value ? 'far fa-check-square' : 'far fa-square'"></i>
              </span>
              <span   *ngSwitchDefault > {{ getControlValue(rowData.index, col.field, col.type) }}
              </span>
            </span>
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="p-resizable-column"></td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer" let-columns>
    <tr *ngIf="showTotals" style="height: 24px">
      <th style="width: 50px"></th>
      <th *ngFor="let col of columns" [ngStyle]="col.style">
        <span [ngSwitch]="col.type" *ngIf="col.totals">
          <span *ngSwitchCase="'number'" style="padding-right: 5px">
            {{calcTotals(col.field) | number:'1.2-2'}}
          </span>
          <span *ngSwitchDefault></span>
        </span>
      </th>
      <th></th>
    </tr>
  </ng-template>

</p-table>