<!-- <j-tree-list #tl docType="Catalog.Product"></j-tree-list> -->
<div *ngIf="auth.isLoggedIn$ | async" style="display: flex; justify-content: center; height: calc(100vh - 130px); align-items: center;">
  <iframe style="width: 100%; height: 100%;" src="https://jetti-bi.azurewebsites.net/user/Reports?groupid=31f6e243-cd80-4bb2-8c42-aae8630aac96&reportid=7b51c6ee-ea9c-47b8-808c-dde7846716d5">

  </iframe>
</div>
<form *ngIf="auth.isLoggedOut$ | async" #f="ngForm">
  <div class="card login-panel ui-fluid">
    <div class="login-panel-content">
      <div class="ui-g">
        <div class="ui-g-3" style="text-align:left;" style="cursor: pointer;">
          <img src="/assets/layout/images/login/icon-login.svg" (click)="login()"/>
        </div>
        <div class="ui-g-9" style="text-align:right;">
          <h2 class="welcome-text">Welcome Guest</h2>
          <span class="guest-sign-in">Sign in to Jetti apps</span>
        </div>
      </div>
    </div>
  </div>
</form>