<!-- <j-tree-list #tl docType="Catalog.Product"></j-tree-list> -->
<div *ngIf="auth.isLoggedIn$ | async" style="display: flex; justify-content: center; height: calc(100vh - 130px); align-items: center; flex-direction: column;">
  <a href="https://bi.x100-group.com/Reports/" class="button" style="font-size: large; text-decoration: underline;" target="_blank">Power BI Reports</a>
  <p> This home page is under construction/Эта стартовая страница пока в разработке...</p>
</div>
<form *ngIf="auth.isLoggedOut$ | async" #f="ngForm">
  <div class="card login-panel ui-fluid">
    <div class="login-panel-content">
      <div class="ui-g">
        <div class="ui-g-3" style="text-align:left;" style="cursor: pointer;">
          <img src="/assets/layout/images/login/icon-login.svg" (click)="login()"/>
        </div>
        <div class="ui-g-9" style="text-align:right;">
          <h2 class="welcome-text">Welcome Guest</h2>
          <span class="guest-sign-in">Sign in to Jetti apps</span>
        </div>
      </div>
    </div>
  </div>
</form>