<div *ngIf="inline">
  <div *ngIf="appAuth.isLoggedIn$ | async">
    <div class="profile" [ngClass]="{'profile-expanded':active}">
      <a href="#" (click)="onClick($event)">
        <img class="profile-image" [src]="this.image">
         <span class="profile-name">{{ (appAuth.userProfile$ | async)?.account?.description }}</span>
        <i class="fa fa-fw fa-caret-down"></i>
        <span class="profile-role">{{ (appAuth.userProfile$ | async)?.account?.email }}</span>
      </a>
    </div>
    <ul id="profile-menu" class="layout-menu" [@menu]="active ? 'visible' : 'hidden'">
      <li role="menuitem">
        <a style="cursor: pointer" [attr.tabindex]="!active ? '-1' : null">
          <i class="fa fa-fw fa-user"></i>
          <span>Profile</span>
        </a>
        <div class="layout-menu-tooltip">
          <div class="layout-menu-tooltip-arrow"></div>
          <div class="layout-menu-tooltip-text">Profile</div>
        </div>
      </li>
      <li role="menuitem">
        <a style="cursor: pointer" [attr.tabindex]="!active ? '-1' : null">
          <i class="fa fa-fw fa-user-secret"></i>
          <span>Privacy</span>
        </a>
        <div class="layout-menu-tooltip">
          <div class="layout-menu-tooltip-arrow"></div>
          <div class="layout-menu-tooltip-text">Privacy</div>
        </div>
      </li>
      <li role="menuitem">
        <a style="cursor: pointer" [attr.tabindex]="!active ? '-1' : null">
          <i class="fa fa-fw fa-cog"></i>
          <span>Settings</span>
        </a>
        <div class="layout-menu-tooltip">
          <div class="layout-menu-tooltip-arrow"></div>
          <div class="layout-menu-tooltip-text">Settings</div>
        </div>
      </li>
      <li role="menuitem">
        <a style="cursor: pointer" (click)="appAuth.logout()" [attr.tabindex]="!active ? '-1' : null">
          <i class="fa fa-fw fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
        <div class="layout-menu-tooltip">
          <div class="layout-menu-tooltip-arrow"></div>
          <div class="layout-menu-tooltip-text">Logout</div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!inline">
  <div *ngIf="appAuth.isLoggedIn$ | async">
    <div class="profile">
    </div>
  </div>
</div>