<form novalidate [formGroup]="form" cdkTrapFocus>
  <p-panel [toggleable]="true" [header]="docDescription">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" label="Refresh"
          (click)="batchActualRefesh()"></button>
      </div>
      <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="fa fa-close" class="ui-button-danger" (click)="Close()"></button>
      </div>
    </p-toolbar>
    <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial>

      <div fxFlex>

        <div *ngIf="(batchActual$ | async) as list">
          <p-table [value]="list" [scrollable]="true" scrollHeight="400px">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 100px;">date</th>
                <th style="width: 250px;">company</th>
                <th>document</th>
                <th style="width: 100px;"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-doc let-rowData>
              <tr>
                <td style="width: 100px;">{{doc.date | date: 'dd.MM.y'}}</td>
                <td style="width: 250px;">{{doc.company.description}}</td>
                <td>{{doc.document.description}}</td>
                <td style="width: 100px;">
                  <button pButton type="button" icon="fa fa-check-square-o" label="Run task" class="ui-button-warning"
                    (click)="Execute(rowData)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>

          <div *ngIf="(bacthLog$ | async) as log">
            <p-table [value]="log" [scrollable]="true" scrollHeight="400px">
              <ng-template pTemplate="header">
                <tr>
                  <th>Task progress log</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-log>
                <tr>
                  <td>{{log}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

    </div>
    <ng-content></ng-content>
  </p-panel>
</form>

<p-confirmDialog [key]="id" appendTo="body" [closeOnEscape]="true" [closable]="true" #cd>
  <p-footer>
    <div cdkTrapFocus>
      <button type="button" pButton icon="fa fa-check" label="Yes" (click)="cd.accept()"></button>
      <button type="button" pButton icon="fa fa-close" label="No" (click)="cd.reject()"></button>
    </div>
  </p-footer>
</p-confirmDialog>