<form novalidate [formGroup]="Form" cdkTrapFocus>
  <p-panel [toggleable]="true" [header]="docDescription">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" icon="fa fa-check-square-o" label="Execute" class="ui-button-warning"
          [disabled]="!Form.valid" (click)="Execute()"></button>
      </div>
      <div class="ui-toolbar-group-left">
        <button pButton type="button" icon="fa fa-check-square-o" label="Сформировать" class="ui-button-warning"
          [disabled]="!Form.valid" (click)="Create()"></button>
      </div>
      <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="fa fa-close" class="ui-button-danger" (click)="close()"></button>
      </div>
    </p-toolbar>
    <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial>

      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px" *ngFor="let i of [0,4,8,12]">
        <div fxFlex>
          <j-control
            *ngIf="v[i+0] && v[i+0].order > 0 && v[i+0].controlType !== 'table' && v[i+0].controlType !== 'script'"
            [control]="v[i+0]" [form]="Form"></j-control>
        </div>
        <div fxFlex>
          <j-control
            *ngIf="v[i+1] && v[i+1].order > 0 && v[i+1].controlType !== 'table' && v[i+1].controlType !== 'script'"
            [control]="v[i+1]" [form]="Form"></j-control>
        </div>
        <div fxFlex>
          <j-control
            *ngIf="v[i+2] && v[i+2].order > 0 && v[i+2].controlType !== 'table' && v[i+2].controlType !== 'script'"
            [control]="v[i+2]" [form]="Form"></j-control>
        </div>
      </div>

      <br *ngIf="tables.length">
      <p-tabView *ngIf="tables.length" class="tabViewClassInForm">
        <div *ngFor="let control of tables; let i = index">
          <p-tabPanel [header]="control.label">
            <j-control [control]="control" [form]="Form"></j-control>
          </p-tabPanel>
        </div>
      </p-tabView>
      <div fxFlex>

      </div>

    </div>
    <br>

    <p-table #tbl [value]="data$ | async" [(selection)]="selectedRows" dataKey="CashRequest" [lazy]="true"
      sortMode="multiple" [scrollable]="true" [reorderableColumns]="true" [filterDelay]="1000" [columns]="columns"
      class="noselect" [lazyLoadOnInit]="false" [resizableColumns]="true" columnResizeMode="expand">

      <ng-template pTemplate="header">
        <tr>
          <th pReorderableColumn pResizableColumn [ngStyle]="{'width': '20px', 'text-align': 'center'}">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pReorderableColumn pResizableColumn [pSortableColumn]="column.field" *ngFor="let column of tbl.columns"
            [ngStyle]="{'width': '30px', 'text-align': 'center'}">
            {{column.label}}
            <p-sortIcon [field]="column.field"></p-sortIcon>
          </th>
        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
        <tr [pSelectableRow]="rowData">
          <td [ngStyle]="{'width': '20px', 'text-align': 'center'}">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td pEditableColumn *ngFor="let column of tbl.columns" [ngStyle]="{'width': '30px', 'text-align': 'center'}">
            <span [ngSwitch]="column.type" [id]="column.field">
              <span *ngSwitchCase="'date'" [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy'}}</span>
              <span *ngSwitchCase="'datetime'"
                [id]="column.field">{{rowData[column.field] | date:'dd.MM.yyyy HH:mm:ss'}}</span>
              <span *ngSwitchCase="'number'" [id]="column.field">
                <span *ngIf="column.editable === true" (change)="onEditableChanged(column, $event, ri, rowData)">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData[column.field]"
                        [ngModelOptions]="{standalone: true}">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[column.field] | number:'1.2-4'}}
                    </ng-template>
                  </p-cellEditor>
                </span>
                <span *ngIf="column.editable !== true">{{rowData[column.field] | number:'1.2-4'}}</span>
              </span>
              <span *ngSwitchCase="'boolean'" [id]="column.field">
                <i *ngIf="rowData[column.field]" class="fa fa-check-square" [id]="column.field"></i>
                <i *ngIf="!rowData[column.field]" class="fa fa-square-o" [id]="column.field"></i>
              </span>
              <span *ngSwitchCase="'string'" [id]="column.field">{{rowData[column.field]}}</span>
              <span *ngSwitchCase="'enum'" [id]="column.field">{{rowData[column.field]}}</span>
              <span *ngSwitchDefault [id]="column.field">{{rowData[column.field]?.value}}</span>
            </span>
          </td>
        </tr>
      </ng-template>

    </p-table>

    <ng-content></ng-content>
  </p-panel>
</form>

<p-confirmDialog [key]="id" appendTo="body" [closeOnEscape]="true" [closable]="true" #cdlg>
  <p-footer>
    <div cdkTrapFocus>`
      <button type="button" pButton icon="fa fa-check" label="Yes" (click)="cdlg.accept()"></button>
      <button type="button" pButton icon="fa fa-close" label="No" (click)="cdlg.reject()"></button>
    </div>
  </p-footer>
</p-confirmDialog>