<div *ngIf="form$ | async as form">
  <div *ngIf="vk$ | async as vk">
    <div *ngIf="viewModel$ | async as viewModel">
      <form novalidate [formGroup]="form" cdkTrapFocus>
        <p-panel #mp [header]='header' [toggleable]="true">
          <p-toolbar *ngIf="!onlyViewMode">

            <div *ngIf="isModeLoad" class="ui-toolbar-group-left">
              <button pButton type="button" id="ReadReciever" label="2. Загрузить структуру приемника"
                class="ui-button-info" (click)="ReadRecieverStructure()"></button>
              <button pButton type="button" id="matchColumnsByName" label="3. Сопоставить колонки по именам"
                class="ui-button-info" (click)="matchColumnsByName()"></button>
              <button pButton type="button" id="loadToTempTable" label="4. Загрузить в таблицу (строками)"
                class="ui-button-info" (click)="loadToTempTable()"></button>
              <button pButton type="button" id="fillLoadingTable" label="5. Найти соответствия в БД"
                class="ui-button-info" (click)="fillLoadingTable()"></button>
              <button pButton type="button" id="prepareToLoading" label="1-5. Подготовить загрузку"
                class="ui-button-info" (click)="prepareToLoading()"></button>
              <button pButton type="button" id="saveDataIntoDB" label="6. Загрузить в БД!" class="ui-button-danger"
                (click)="saveDataIntoDB()"></button>
              <button pButton type="button" id="prepareToLoading" label=". Подготовить загрузку" class="ui-button-info"
                (click)="prepareToLoading()"></button>
            </div>
            <div *ngIf="isModeModify" class="ui-toolbar-group-left">
              <button pButton type="button" id="buildFilter" label="1. Построить фильтр" class="ui-button-info"
                (click)="buildFilter()"></button>
              <button pButton type="button" id="createFilterElements" label="2. Создать элементы" class="ui-button-info"
                (click)="createFilterElements()"></button>
              <button pButton type="button" id="selectFilter" label="3. Отобрать" class="ui-button-info"
                (click)="selectFilter()"></button>
            </div>

            <div *ngIf="isModeTesting" class="ui-toolbar-group-left">
              <button pButton type="button" id="callLibMethod" label="Вызвать либ-метод" class="ui-button-info"
                (click)="callLibMethod()"></button>
              <button pButton type="button" id="addAttachment" label="Добавить вложение" class="ui-button-info"
                (click)="addAttachment()"></button>
              <button pButton type="button" id="delAttachment" label="Удалить вложение" class="ui-button-info"
                (click)="delAttachment()"></button>
            </div>

          </p-toolbar>

          <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial *ngIf="v$ | async as v">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
              *ngFor="let i of [0,3,6,9,12,15,18,21,24]">
              <div fxFlex>
                <j-control *ngIf="headFields[i+0]" [control]="headFields[i+0]" [form]="form"></j-control>
              </div>
              <div fxFlex>
                <j-control *ngIf="headFields[i+1]" [control]="headFields[i+1]" [form]="form"></j-control>
              </div>
              <div fxFlex>
                <j-control *ngIf="headFields[i+2]" [control]="headFields[i+2]" [form]="form"></j-control>
              </div>
            </div>

            <br *ngIf="fieldsetsFields.length > 0">
            <p-fieldset *ngIf="fieldsetsFields.length > 0" legend="Ещё..." [toggleable]="true" collapsed=true>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
                *ngFor="let i of [0,3,6,9,12,15,18,21,24]">
                <div fxFlex>
                  <j-control *ngIf="fieldsetsFields[i+0]" [control]="fieldsetsFields[i+0]" [form]="form"></j-control>
                </div>
                <div fxFlex>
                  <j-control *ngIf="fieldsetsFields[i+1]" [control]="fieldsetsFields[i+1]" [form]="form"></j-control>
                </div>
                <div fxFlex>
                  <j-control *ngIf="fieldsetsFields[i+2]" [control]="fieldsetsFields[i+2]" [form]="form"></j-control>
                </div>
              </div>
            </p-fieldset>

            <div *ngFor="let control of v">
              <div *ngIf="control.controlType === 'script' && control.key !== 'module' && control.key !== 'script'"
                style="height: 400px; width: 100%;">
                <j-control [control]="control" [form]="form"></j-control>
              </div>
            </div>

            <div *ngIf="tables$ | async as tables">
              <br *ngIf="tables.length">
              <p-tabView *ngIf="tables.length" class="tabViewClassInForm">
                <div *ngFor="let c of tables; let i = index">
                  <p-tabPanel [header]="c.label">
                    <j-control [control]="c" [form]="form"></j-control>
                  </p-tabPanel>
                </div>
              </p-tabView>
            </div>


            <ng-content></ng-content>
          </div>
        </p-panel>

        <p-panel *ngIf="additionalFields.length > 0" [toggleable]="true" header="Параметры" [collapsed]="true"
          toggler="header">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
            *ngFor="let i of [0,3,6,9,12,15,18,21,24]">
            <div fxFlex>
              <j-control *ngIf="additionalFields[i+0]" [control]="additionalFields[i+0]" [form]="form"></j-control>
            </div>
            <div fxFlex>
              <j-control *ngIf="additionalFields[i+1]" [control]="additionalFields[i+1]" [form]="form"></j-control>
            </div>
            <div fxFlex>
              <j-control *ngIf="additionalFields[i+2]" [control]="additionalFields[i+2]" [form]="form"></j-control>
            </div>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>