<div *ngIf="form$ | async as form">
  <div *ngIf="vk$ | async as vk">
    <div *ngIf="viewModel$ | async as viewModel">
      <form novalidate [formGroup]="form" cdkTrapFocus>
        <p-toolbar>

          <div class="p-toolbar-group-left">
            <button pButton type="button" id="getJobsStat" label="Статистика" class="p-button-info"
              (click)="executeServerMethod('getJobsStat')"></button>
            <p-splitButton styleClass="p-button-success" label="Очередь" [model]="splitCommands.queue">
            </p-splitButton>
          </div>



          <div class="p-toolbar-group-right">
            <p-splitButton styleClass="p-button-success" label="Новая задача" [model]="splitCommands.add">
            </p-splitButton>
            <!-- <p-splitButton styleClass="p-button-warning" label="Отменить" [model]="splitCommands.cancel">
            </p-splitButton> -->
            <p-splitButton styleClass="p-button-danger" label="УДАЛИТЬ" [model]="splitCommands.remove">
            </p-splitButton>
            <p-splitButton *ngIf="(commands$ | async)?.length" [model]="commands$ | async"
              styleClass="p-button-secondary" label="commands">
            </p-splitButton>
          </div>

        </p-toolbar>
  
        <p-panel *ngFor="let panel of controlsPlacement" [toggleable]="true" [header]="panel.panel" [collapsed]="true"
          toggler="header">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
            *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
            <div fxFlex *ngFor="let d of [0,1,2]">
              <j-control *ngIf="panel.standalone[i+d]" [control]="panel.standalone[i+d]" [form]="form">
              </j-control>
            </div>
          </div>

          <br *ngIf="panel.fieldsets.length > 0">
          <p-fieldset *ngFor="let fieldset of panel.fieldsets" [legend]="fieldset.fieldset" [toggleable]="true"
            collapsed=true>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
              *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
              <div fxFlex *ngFor="let d of [0,1,2]">
                <j-control *ngIf="fieldset.controls[i+d]" [control]="fieldset.controls[i+d]" [form]="form">
                </j-control>
              </div>
            </div>
          </p-fieldset>

          <br *ngIf="panel.tables.length > 0">
          <p-tabView *ngIf="panel.tables.length" class="tabViewClassInForm">
            <div *ngFor="let table of panel.tables">
              <p-tabPanel [header]="table.label">
                <j-control [control]="table" [form]="form"></j-control>
              </p-tabPanel>
            </div>
          </p-tabView>

          <div *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
            <j-control *ngIf="panel.fullwidth[i]" [control]="panel.fullwidth[i]" [form]="form"></j-control>
          </div>

        </p-panel>

        <p-panel header="Журнал выполнения" toggleable="true" collapsed="true" toggler="header">
          <div fxFlex style="height: 400px; width: 100%;">
            <p-table [value]="IOData" [scrollable]="true" scrollHeight="400px">
              <!-- <ng-template pTemplate="header">
                <tr>
                  <th>Task progress log</th>
                </tr>
              </ng-template> -->
              <ng-template pTemplate="body" let-doc>
                <tr>
                  <td>{{doc}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-panel>

      </form>
    </div>
  </div>
</div>