<div *ngIf="form$ | async as form">
  <div *ngIf="vk$ | async as vk">
    <div *ngIf="viewModel$ | async as viewModel">
      <form novalidate [formGroup]="form" cdkTrapFocus>
        <p-panel #mp [header]='header' [toggleable]="true">
          <p-toolbar *ngIf="!onlyViewMode">
            <div class="p-toolbar-group-left">
              <button pButton type="button" id="Search" icon="fab fa-searchengin" label="Search"
                pTooltip="Post and close" tooltipPosition="top" showDelay="2000" class="p-button-warning"
                (click)="ExecuteServerMethod('Search')"></button>
              <button pButton type="button" id="ExchangeData" icon="fas fa-exchange-alt" label="Fill exchange data"
                class="p-button-warning" (click)="ExecuteServerMethod('FillExchangeData')"></button>
              <button pButton type="button" id="Replace" icon="fas fa-exchange-alt" label="Replace" pTooltip="Replace"
                tooltipPosition="top" showDelay="2000" class="p-button-danger"
                (click)="ExecuteServerMethod('Replace')"></button>
            </div>
          </p-toolbar>

          <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial *ngIf="v$ | async as v">
            <div *ngIf="!onlyViewMode">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
                *ngFor="let i of [0,3,6,9,12,15,18,21,24]">
                <div fxFlex>
                  <j-control
                    *ngIf="v[i+0] && v[i+0].order > 0 && v[i+0].order !== 1000 && v[i+0].controlType !== 'table' && v[i+0].controlType !== 'script'"
                    [control]="v[i+0]" [form]="form"></j-control>
                </div>
                <div fxFlex>
                  <j-control
                    *ngIf="v[i+1] &&  v[i+1].order > 0 && v[i+1].order !== 1000 && v[i+1].controlType !== 'table' && v[i+1].controlType !== 'script'"
                    [control]="v[i+1]" [form]="form"></j-control>
                </div>
                <div fxFlex>
                  <j-control
                    *ngIf="v[i+2] && v[i+2].order > 0 && v[i+2].order !== 1000 && v[i+2].controlType !== 'table' && v[i+2].controlType !== 'script'"
                    [control]="v[i+2]" [form]="form"></j-control>
                </div>
              </div>
            </div>

            <div *ngIf="tables$ | async as tables">
              <p-tabView *ngIf="tables.length" class="tabViewClassInForm">
                <div *ngFor="let c of tables; let i = index">

                  <j-control [control]="c" [form]="form"></j-control>

                </div>
              </p-tabView>
            </div>
            <ng-content></ng-content>
          </div>
        </p-panel>
      </form>
    </div>
  </div>
</div>