<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button id="open" label="Open" class="ui-button-success" pButton type="button" (click)="openOnClick()"
    [disabled]="(lds.busy$ | async) || !selection"></button>
    <button id="restore" label="Restore" class="ui-button-warning" pButton type="button" (click)="restore()"
      [disabled]="(lds.busy$ | async) || !selection"></button>
  </div>
</p-toolbar>
<p-table [value]="historyListSub$ | async" columnResizeMode="expand" [(selection)]="selection" selectionMode="single"
  dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th [ngStyle]="{'width': '30px', 'text-align': 'center'}"></th>
      <th style="text-align: center; width: 250px">User
      </th>
      <th style="text-align: center; width: 150px">Date
      </th>
      <th style="text-align: center; width: 150px">Code
      </th>
      <th style="width: 100%">Description
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr [pSelectableRow]="rowData" (dblclick)="openHistory(rowData)">
      <td class="ui-resizable-column" style="text-align: center;">
        <i *ngIf="!rowData.isfolder && rowData['posted'] && !rowData['deleted']" class="fa fa-check-square"
          style="color: #5cb85c"></i>
        <i *ngIf="!rowData.isfolder && rowData['deleted']" class="fa fa-minus-square" style="color: #d9534f"></i>
        <i *ngIf="!rowData.isfolder && !rowData['posted'] && !rowData['deleted']" class="fa fa-square-o"
          style="color: #f0ad4e"></i>
        <i *ngIf="rowData.isfolder && rowData['deleted']" class="fa fa-folder" style="color: #d9534f"></i>
        <i *ngIf="rowData.isfolder && !rowData['deleted']" class="fa fa-folder" style="color: #5cb85c"></i>
      </td>
      <td class="ui-resizable-column" style="text-align: center;">
        {{rowData.userName }}
      </td>
      <td class="ui-resizable-column" style="text-align: center;">
        {{rowData.timestamp | date: 'dd.MM.y HH:mm:ss'}}
      </td>
      <td class="ui-resizable-column" style="text-align: center;">
        {{rowData.code }}
      </td>
      <td class="ui-resizable-column">
        {{rowData.description }}
      </td>
    </tr>
  </ng-template>

</p-table>
