<div *ngIf="form$ | async as form">
  <div *ngIf="vk$ | async as vk">
    <div *ngIf="viewModel$ | async as viewModel">
      <form novalidate [formGroup]="form" cdkTrapFocus>
        <p-panel #mp
          [header]="(description$ | async)?.value + ' (' + (metadata$ | async).description + ')' + ((isPosted$ | async) ? ' [posted]' : ' [unposted]') + (readonly ? ' [readonly]' : '')"
          [toggleable]="true" toggler="header">
          <p-toolbar *ngIf="!readonly && !isHistory">
            <div class="p-toolbar-group-left">
              <button pButton type="button" id="PostClose" icon="fa fa-check-square" label="Post&Close"
                pTooltip="Post and close" tooltipPosition="top" showDelay="2000" class="p-button-warning"
                [disabled]="!form.valid || (lds.busy$ | async)" (click)="postClose()"
                *ngIf="!(isDeleted$ | async)"></button>
              <button pButton type="button" id="Post" icon="fa fa-check" class="p-button-secondary" pTooltip="Post"
                tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)" (click)="post()"
                *ngIf="!(isDeleted$ | async) && isDoc"></button>
              <button pButton type="button" id="unPost" icon="far fa-square" class="p-button-secondary"
                pTooltip="Unpost" tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)"
                (click)="unPost()" *ngIf="!(isDeleted$ | async) && (isPosted$ | async) && isDoc"></button>
              <button pButton type="button" id="save" icon="far fa-save" class="p-button-secondary" pTooltip="Save"
                tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)" (click)="save()"
                *ngIf="!(isPosted$ | async) || !isDoc"></button>
              <button pButton type="button" id="Copy" icon="far fa-copy" class="p-button-secondary" pTooltip="Copy"
                tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)" (click)="copy()"
                *ngIf="!(isDeleted$ | async)  && !(isNew$ | async)"></button>
              <button pButton type="button" id="Delete" icon="far fa-trash-alt" class="p-button-danger"
                pTooltip="Delete" tooltipPosition="top" showDelay="2000" *ngIf="!(isNew$ | async)" (click)="delete()"
                [disabled]="(lds.busy$ | async)"></button>
            </div>
            <div class="p-toolbar-group-right">
              <p-splitButton *ngIf="(copyTo$ | async)?.length" [model]="copyTo$ | async" styleClass="p-button-secondary"
                label="base on">
              </p-splitButton>
              <p-splitButton *ngIf="!(isNew$ | async)" [model]="navigateCommands" styleClass="p-button-secondary"
                label="navigate">
              </p-splitButton>
              <p-splitButton *ngIf="(commands$ | async)?.length" [model]="commands$ | async"
                styleClass="p-button-secondary" label="commands">
              </p-splitButton>
              <button *ngIf="(isPosted$ | async)" pButton type="button" icon="pi pi-print" class="p-button-secondary"
                pTooltip="Print" tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)"
                (click)="print()"></button>
              <button pButton type="button" icon="pi pi-refresh" class="p-button-secondary" pTooltip="Refresh"
                tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)" (click)="refresh()"></button>
            </div>
          </p-toolbar>

          <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial *ngIf="v$ | async as v">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
              *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
              <div fxFlex *ngFor="let d of [0,1,2]">
                <j-control *ngIf="headFields[i+d]" [control]="headFields[i+d]" [form]="form">
                </j-control>
              </div>
            </div>

            <br *ngIf="fieldsetsFields.length > 0">
            <p-fieldset *ngIf="fieldsetsFields.length > 0" legend="Ещё..." [toggleable]="true" collapsed=true>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
                *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
                <div fxFlex *ngFor="let d of [0,1,2]">
                  <j-control *ngIf="fieldsetsFields[i+d]" [control]="fieldsetsFields[i+d]" [form]="form">
                  </j-control>
                </div>
              </div>
            </p-fieldset>

            <div *ngFor="let control of v">
              <div *ngIf="control.controlType === 'script' && control.key !== 'module' && control.key !== 'script'"
                style="height: 400px; width: 100%;">
                <j-control [control]="control" [form]="form"></j-control>
              </div>
            </div>

            <div *ngIf="tables$ | async as tables">
               <!-- FIXME: -->
               <p-tabView >
                <p-tabPanel class="tabViewEd"  [header]="item.label" *ngFor="let item of tables; let i = index" [selected]="i == 0">
                   
                    <j-control [control]="item" [form]="form"></j-control>
                 </p-tabPanel>
            </p-tabView>

            </div>

            <j-control *ngIf="vk.info" [control]="vk.info" [form]="form"></j-control>

            <ng-content></ng-content>
          </div>

        </p-panel>

        <p-panel *ngFor="let panel of controlsPlacement" [toggleable]="true" [header]="panel.panel" [collapsed]="true"
          toggler="header">

          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
            *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
            <div fxFlex *ngFor="let d of [0,1,2]">
              <j-control *ngIf="panel.standalone[i+d]" [control]="panel.standalone[i+d]" [form]="form">
              </j-control>
            </div>
          </div>

          <br *ngIf="panel.fieldsets.length > 0">
          <p-fieldset *ngFor="let fieldset of panel.fieldsets" [legend]="fieldset.fieldset" [toggleable]="true"
            collapsed=true>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
              *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
              <div fxFlex *ngFor="let d of [0,1,2]">
                <j-control *ngIf="fieldset.controls[i+d]" [control]="fieldset.controls[i+d]" [form]="form">
                </j-control>
              </div>
            </div>
          </p-fieldset>

          <br *ngIf="panel.tables.length > 0">
          <p-tabView *ngIf="panel.tables.length" class="tabViewClassInForm">
            <div *ngFor="let table of panel.tables; let i = index">
              <p-tabPanel [header]="table.label" [selected]="i === 0">
                <j-control [control]="table" [form]="form"></j-control>
              </p-tabPanel>
            </div>
          </p-tabView>

          <div *ngFor="let i of [0,3,6,9,12,15,18,21,24,27,30]">
            <j-control *ngIf="panel.fullwidth[i]" [control]="panel.fullwidth[i]" [form]="form"></j-control>
          </div>

        </p-panel>

        <div *ngIf="!isHistory">
          <p-panel *ngIf="type === 'Catalog.Operation' && (isFolder$ | async) === false" [toggleable]="true"
            header="Post script" [collapsed]="true" (collapsedChange)="mp.collapse($event);" toggler="header">
            <j-control *ngIf="vk.script" [control]="vk.script" [form]="form"></j-control>
          </p-panel>

          <p-panel *ngIf="(type === 'Catalog.Operation')" [toggleable]="true" header="Document module"
            [collapsed]="true" (collapsedChange)="mp.collapse($event);" toggler="header">
            <j-control *ngIf="vk.module" [control]="vk.module" [form]="form"></j-control>
          </p-panel>

          <p-panel [toggleable]="true" [collapsed]="true" header="Register movements" #movements *ngIf="isDoc"
            toggler="header">
            <j-register-movements-list *ngIf="!movements.collapsed" [doc]="viewModel">
            </j-register-movements-list>
          </p-panel>

          <div *ngIf="(isFolder$ | async) === false">
            <div *ngFor="let r of relations$ | async">
              <p-panel [toggleable]="true" [collapsed]="true" #relation [header]="r.name" toggler="header">
                <j-list *ngIf="!relation.collapsed && !r.type.startsWith('Register.')" [type]="r.type" [pageSize]=10
                  [settings]="{order: [], filter: [
                  {left: r.field, center: '=', right: {id: viewModel.id, type: viewModel.type, value: viewModel.description}}]}">
                </j-list>
                <j-register-info *ngIf="!relation.collapsed && r.type.startsWith('Register.Info')" [register]="r.type"
                  [filter]="[{key: r.field, value: viewModel.id}]">
                </j-register-info>
              </p-panel>
            </div>
          </div>

          <p-panel [toggleable]="true" [collapsed]="true"
            [header]="'Descendants ' + (isCatalog ? 'objects' : 'documents')" #descendants
            *ngIf="(isNew$ | async) === false" toggler="header">
            <j-descendants *ngIf="!descendants.collapsed" [doc]="viewModel"></j-descendants>
          </p-panel>

          <p-panel [toggleable]="true" [collapsed]="true" header="History" #history *ngIf="(isNew$ | async) === false"
            toggler="header">
            <j-history *ngIf="!history.collapsed" [doc]="viewModel"></j-history>
          </p-panel>

          <p-panel [toggleable]="true" [collapsed]="true" header="Attachments" #attachments
            *ngIf="(isNew$ | async) === false" toggler="header">
            <j-attachments *ngIf="!attachments.collapsed" [owner]="id"></j-attachments>
          </p-panel>
        </div>

      </form>

      <p-confirmDialog [key]="id" [closeOnEscape]="true" [closable]="true" #cdlg appendTo="body">
        <p-footer>
          <div cdkTrapFocus>
            <button type="button" pButton icon="fa fa-check" label="Yes" (click)="cdlg.accept()"></button>
            <button type="button" pButton icon="fa fa-close" label="No" (click)="cdlg.reject()"></button>
          </div>
        </p-footer>
      </p-confirmDialog>
    </div>
  </div>
</div>