<div *ngIf="form$ | async as form">
  <div *ngIf="vk$ | async as vk">
    <div *ngIf="viewModel$ | async as viewModel">
      <form novalidate [formGroup]="form" cdkTrapFocus>
        {{isCopy}}
        <p-panel #mp
          [header]="(description$ | async)?.value?.concat((isPosted$ | async) ? ', [posted]' : ', [unposted]')"
          [toggleable]="true">
          <p-toolbar>
            <div class="ui-toolbar-group-left">
              <button pButton type="button" id="PostClose" icon="fa fa-check-square-o" label="Post&Close"
                pTooltip="Post and close" tooltipPosition="top" showDelay="2000" class="ui-button-warning"
                [disabled]="!form.valid || (lds.busy$ | async)" (click)="postClose()"
                *ngIf="!(isDeleted$ | async)"></button>
              <button pButton type="button" id="Post" icon="fa fa-check" class="ui-button-secondary" pTooltip="Post"
                tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)" (click)="post()"
                *ngIf="!(isDeleted$ | async) && isDoc"></button>
              <button pButton type="button" id="unPost" icon="fa fa-square-o" class="ui-button-secondary"
                pTooltip="Unpost" tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)"
                (click)="unPost()" *ngIf="!(isDeleted$ | async) && (isPosted$ | async) && isDoc"></button>
              <button pButton type="button" id="save" icon="fa fa-floppy-o" class="ui-button-secondary" pTooltip="Save"
                tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)" (click)="save()"
                *ngIf="!(isPosted$ | async) || !isDoc"></button>
              <button pButton type="button" id="Copy" icon="fa fa-copy" class="ui-button-secondary" pTooltip="Copy"
                tooltipPosition="top" showDelay="2000" [disabled]="!form.valid || (lds.busy$ | async)" (click)="copy()"
                *ngIf="!(isDeleted$ | async)  && !(isNew$ | async)"></button>
              <button pButton type="button" id="Delete" icon="fa fa-trash" class="ui-button-danger" pTooltip="Delete"
                tooltipPosition="top" showDelay="2000" *ngIf="!(isNew$ | async)" (click)="delete()"
                [disabled]="(lds.busy$ | async)"></button>
            </div>
            <div class="ui-toolbar-group-right">
              <p-splitButton *ngIf="(copyTo$ | async)?.length" [model]="copyTo$ | async"
                styleClass="ui-button-secondary" label="base on">
              </p-splitButton>
              <p-splitButton *ngIf="(commands$ | async)?.length" [model]="commands$ | async"
                styleClass="ui-button-secondary" label="commands">
              </p-splitButton>
              <!--         <button *ngIf="!viewModel.workflow['id']" pButton type="button" icon="pi pi-sitemap" class="ui-button-secondary" (click)="startWorkFlow()"
        [disabled]="(lds.busy$ | async)"></button> -->
              <button *ngIf="!(isNew$ | async)" pButton type="button" icon="pi pi-list" class="ui-button-secondary"
                pTooltip="Show in list" tooltipPosition="top" showDelay="2000" (click)="goto()"
                [disabled]="(lds.busy$ | async)"></button>
              <button *ngIf="(isPosted$ | async)" pButton type="button" icon="pi pi-print" class="ui-button-secondary"
                pTooltip="Print" tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)"></button>
              <button pButton type="button" icon="pi pi-refresh" class="ui-button-secondary" pTooltip="Refresh"
                tooltipPosition="top" showDelay="2000" [disabled]="(lds.busy$ | async)" (click)="refresh()"></button>
            </div>
          </p-toolbar>

          <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial *ngIf="v$ | async as v">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
              *ngFor="let i of [0,3,6,9,12,15]">
              <div fxFlex>
                <j-control
                  *ngIf="v[i+0] && v[i+0].order > 0 && v[i+0].order !== 1000 && v[i+0].controlType !== 'table' && v[i+0].controlType !== 'script'"
                  [control]="v[i+0]" [form]="form"></j-control>
              </div>
              <div fxFlex>
                <j-control
                  *ngIf="v[i+1] && v[i+1].order > 0 && v[i+1].order !== 1000 && v[i+1].controlType !== 'table' && v[i+1].controlType !== 'script'"
                  [control]="v[i+1]" [form]="form"></j-control>
              </div>
              <div fxFlex>
                <j-control
                  *ngIf="v[i+2] && v[i+2].order > 0 && v[i+2].order !== 1000 && v[i+2].controlType !== 'table' && v[i+2].controlType !== 'script'"
                  [control]="v[i+2]" [form]="form"></j-control>
              </div>
            </div>

            <div *ngFor="let control of v">
              <div *ngIf="control.controlType === 'script' && control.key !== 'module' && control.key !== 'script'"
                style="height: 400px; width: 100%;">
                <j-control [control]="control" [form]="form"></j-control>
              </div>
            </div>

            <div *ngIf="tables$ | async as tables">
              <br *ngIf="tables.length">
              <p-tabView *ngIf="tables.length" class="tabViewClassInForm">
                <div *ngFor="let c of tables; let i = index">
                  <p-tabPanel [header]="c.label">
                    <j-control [control]="c" [form]="form"></j-control>
                  </p-tabPanel>
                </div>
              </p-tabView>
            </div>

            <j-control *ngIf="vk.info" [control]="vk.info" [form]="form"></j-control>

            <ng-content></ng-content>
          </div>

        </p-panel>
        <p-panel #pad [toggleable]="true" header="Additonal Info" [collapsed]="isDoc ? true : false">
          <div fxLayout="row" fxLayoutGap="35px" fxLayout.xs="column">
            <j-control *ngIf="vk.parent" [control]="vk.parent" [form]="form"></j-control>
            <j-control *ngIf="vk.user" [control]="vk.user" [form]="form"></j-control>
            <j-control *ngIf="vk.workflow" [control]="vk.workflow" [form]="form"></j-control>
          </div>

        </p-panel>

        <p-panel *ngIf="type === 'Catalog.Operation' && (isFolder$ | async) === false" [toggleable]="true"
          header="Post script" [collapsed]="true" (collapsedChange)="mp.collapse($event); pad.collapse($event)">
          <j-control *ngIf="vk.script" [control]="vk.script" [form]="form"></j-control>
        </p-panel>

        <p-panel *ngIf="(type === 'Catalog.Operation')" [toggleable]="true" header="Document module" [collapsed]="true"
          (collapsedChange)="mp.collapse($event); pad.collapse($event)">
          <j-control *ngIf="vk.module" [control]="vk.module" [form]="form"></j-control>
        </p-panel>

        <p-panel [toggleable]="true" [collapsed]="true" header="Register movements" #accumulation
          *ngIf="isDoc && (isPosted$ | async)">
          <j-register-movement *ngIf="!accumulation.collapsed" [doc]="viewModel"></j-register-movement>
          <j-register-accumulation-list *ngIf="!accumulation.collapsed" [doc]="viewModel">
          </j-register-accumulation-list>
        </p-panel>

        <div *ngIf="(isFolder$ | async) === false">
          <div *ngFor="let r of relations$ | async">
            <p-panel [toggleable]="true" [collapsed]="true" #relation [header]="r.name">
              <j-list *ngIf="!relation.collapsed" [type]="r.type" [pageSize]=10
                [settings]="{order: [], filter: [
                  {left: r.field, center: '=', right: {id: viewModel.id, type: viewModel.type, value: viewModel.description}}]}">
              </j-list>
            </p-panel>
          </div>
        </div>

      </form>

      <p-confirmDialog [key]="id" [closeOnEscape]="true" [closable]="true" #cdlg appendTo="body">
        <p-footer>
          <div cdkTrapFocus>
            <button type="button" pButton icon="fa fa-check" label="Yes" (click)="cdlg.accept()"></button>
            <button type="button" pButton icon="fa fa-close" label="No" (click)="cdlg.reject()"></button>
          </div>
        </p-footer>
      </p-confirmDialog>
    </div>
  </div>
</div>
