body {
    .ui-menu-separator {
        &.ui-widget-content {
            border-width: 1px 0 0 0;
            border-color: $dividerColor;
        }
    }

    .ui-breadcrumb {
        background-color: $headerBgColor;
        border: 0 none;
        padding: .75em 1em;

        ul {
            li {
                float: none;
                display: inline-block;
                vertical-align: middle;

                .ui-menuitem-link {
                    margin: 0;
                    position: relative;
                    top: -1px;
                    color: $primaryColor;
                    font-weight: normal;
                }

                &.ui-breadcrumb-chevron {
                    font-size: $fontSize + 4;
                    margin: -2px 6px 0 6px;
                    color: $textSecondaryColor;

                    &:before {
                        content: '/';
                    }
                }

                &:first-child {
                    font-size: $fontSize + 2;

                    &.pi-home {
                        color: $primaryColor;
                        margin: 0;
                        font-size: 15px;

                        span {
                            display: none;
                        }
                    }
                }

                &:last-child {
                    .ui-menuitem-link {
                        color: $textSecondaryColor;
                    }
                }
            }
        }
    }

    .ui-steps {
        position: relative;

        .ui-steps-item {
            background-color: transparent;
            text-align: center;

            .ui-menuitem-link {
                display: inline-block;
                text-align: center;
                background-color: transparent;
                overflow: hidden;

                .ui-steps-number {
                    display: inline-block;
                    background-color: $primaryColor;
                    @include border-radius(50%);
                    padding: 0.6em 0 0 0;
                    font-size: 1em;
                    color: $primaryTextColor;
                    position: relative;
                    top: 1em;
                    margin-bottom: 1em;
                    width: 2.5em;
                    height: 2.5em;
                    border: 1px solid lighten($primaryColor,15%);
                }

                .ui-steps-title {
                    display: block;
                    margin-top: 0.45em;
                    color: $textSecondaryColor;
                }
            }

            &.ui-state-disabled {
                @include opacity(1);

                .ui-steps-number {
                    background-color: $disabledColor;
                    border-color: $contentBorderColor;
                    color: $textColor;
                }
            }

            &.ui-state-highlight {
                .ui-steps-number {
                    background-color: $primaryColor;
                }

                .ui-steps-title {
                    font-weight: 700;
                    color: $textColor;
                }
            }

            &:last-child {
                .ui-menuitem-link {
                    display: block;
                }
            }
        }

        &:before {
            content:' ';
            border: 1px solid $contentBorderColor;
            width: 100%;
            top: 45%;
            left: 0;
            display: block;
            position: absolute;
        }
    }

    .ui-menu .ui-menuitem-link,
    .ui-menubar .ui-menuitem-link,
    .ui-tieredmenu .ui-menuitem-link,
    .ui-contextmenu .ui-menuitem-link,
    .ui-megamenu .ui-menuitem-link,
    .ui-slidemenu .ui-menuitem-link {
        padding: $listItemPadding;
        color: $textColor;
        @include border-radius(0);

        &:hover {
            @include menu-item-hover();
        }

        &:focus {
            @include menu-item-hover();
        }
        .ui-menuitem-text {
            vertical-align: middle;
        }
        .ui-submenu-icon {
            right: 1.429em;
        }
    }

    .ui-menubar, .ui-contextmenu,
    .ui-slidemenu, .ui-tieredmenu {
        .ui-submenu-list {
            padding: 0;

            &.ui-shadow, .ui-shadow {
                @include overlay();
            }

            .ui-menuitem {
                margin: 0;
            }
        }
    }

    .ui-menu {
        min-width: 12.5em;
        padding: .357em 0;

        .ui-menuitem {
            margin: 0;

            .ui-menuitem-link {
                .ui-menuitem-icon {
                    vertical-align: middle;
                }
            }
        }

        &.ui-shadow, .ui-shadow {
            @include overlay();
        }

        .ui-submenu-header {
            border: 0 none;
            margin: 0;
            padding: $listItemPadding;
            border-radius: 0;
            background-color: $dividerColor;
        }
    }

    .ui-menubar {
        padding: .357em 0;
        background-color: $headerBgColor;

        .ui-menubar-root-list {
            &>.ui-menuitem {
                > .ui-menuitem-link {
                    padding: 15px;
                    line-height: $fontSize + 1;
                    color: $textSecondaryColor;

                    &:hover {
                        color: $textColor;
                    }
                }

                &:first-child {
                    .ui-menuitem-link {
                        @include border-radius(0);
                        @include border-radius-left($borderRadius);
                    }
                }

                &:last-child {
                    .ui-menuitem-link {
                        @include border-radius(0);
                    }
                }
            }
        }

        .ui-menuitem {
            .ui-menuitem-link {
                .ui-menuitem-icon {
                    vertical-align: middle;
                }

                .ui-submenu-icon {
                    vertical-align: middle;
                    right: 1.429em;
                }
            }
            &.ui-menuitem-active {
                > .ui-menuitem-link {
                    @include menu-item-hover();

                    .ui-menuitem-icon {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .ui-contextmenu {
        padding: .357em 0;

        .ui-menuitem {

            .ui-menuitem-link {
                .ui-menuitem-icon {
                    vertical-align: middle;
                }
            }
            &.ui-menuitem-active {
                > .ui-menuitem-link {
                    @include menu-item-hover();
                }
            }
        }
    }

    .ui-tieredmenu {
        padding: .357em 0;

        .ui-menuitem {

            .ui-menuitem-link {
                .ui-menuitem-icon {
                    vertical-align: middle;
                }
            }
            &.ui-menuitem-active {
                > .ui-menuitem-link {
                    @include menu-item-hover();
                }
            }
        }
    }

    .ui-slidemenu {
        padding: .357em 0;

        .ui-menuitem {
            margin: 0;

            .ui-menuitem-link {
                .ui-menuitem-icon {
                    vertical-align: middle;
                }
            }

            &.ui-menuitem-active {
                > .ui-menuitem-link {
                    @include menu-item-hover();
                }
            }
        }

        .ui-slidemenu-backward {
            padding: $headerPadding;
            width: 100%;
            color: $textColor;
            background-color: $dividerColor;
            box-sizing: border-box;
            @include border-radius(0);
            border: 0 none;

            span:last-child {
                vertical-align: text-bottom;
            }

            &:hover {
                background-color: darken($dividerColor, 10%);
            }
        }
    }
    .ui-megamenu {
        padding: .357em 0;
        background-color: $headerBgColor;

        .ui-megamenu-submenu-header {
            border-radius: 0;
            padding: .5em;
            border: 0 none;
            background-color: $dividerColor;;
        }

        .ui-submenu-list {
            padding: 0;
            border: 0 none;

            .ui-menuitem {
                margin: 0;
            }
        }
        .ui-megamenu-submenu {
            .ui-menuitem {
                .ui-menuitem-link {
                    padding: $listItemPadding;
                }
            }
        }

        .ui-menuitem {
            margin: 0;

            .ui-menuitem-link {
                padding: 15px;
                line-height: $fontSize + 1;
                color: $textSecondaryColor;

                &:hover {
                    color: $textColor;
                }
                .ui-menuitem-icon {
                    vertical-align: middle;
                }

                .ui-submenu-icon {
                    vertical-align: middle;
                }
            }

            &.ui-menuitem-active {
                > .ui-menuitem-link {
                    @include menu-item-hover();
                }
            }
        }
    }
    .ui-megamenu-vertical .ui-megamenu-root-list>.ui-menuitem>.ui-menuitem-link {

        .ui-submenu-icon {
            right: 1.429em;
        }
    }

    .ui-tabmenu {
        padding: 0;
        background: $headerBgColor;
        border: 1px solid $headerBorderColor;

        .ui-tabmenu-nav {
            padding: 0;
            border: 0 none;
            @include border-radius(0);

            .ui-tabmenuitem {
                position: static;
                @include border-radius(0);
                margin: 0;
                box-sizing: border-box;
                border: 1px solid transparent;

                .ui-menuitem-link {
                    padding: 15px;
                    color: $textSecondaryColor;
                    font-weight: normal;

                    .ui-menuitem-icon, .ui-menuitem-text {
                        display: inline-block;
                        vertical-align: middle;
                        float: none;
                    }

                    .ui-menuitem-icon {
                        color: $headerIconColor;
                    }
                }

                &:not(.ui-state-active):not(.ui-state-disabled):hover {
                    .ui-menuitem-link {
                        color: $textColor;
                    }
                }

                &.ui-state-active {
                    background-color: $dividerColor;
                }
            }
        }
    }

    .ui-panelmenu {
        .ui-panelmenu-header {
            background-color: $contentBgColor;
            padding: 0;
            border: 1px solid $contentBorderColor;
            font-size: $fontSize;
            color: $textColor;
            margin-top: 0.357em;
            @include border-radius($borderRadius);

            a {
                padding: $headerPadding;
                color: $textColor;
                font-weight: bold;

                .ui-menuitem-text {
                    line-height: $fontSize + 2;
                }
            }

            &:not(.ui-state-active):hover {
                background-color: $headerHoverBgColor;
            }

            &.ui-state-active {
                border-bottom-color: $contentBgColor;
                @include border-radius-bottom(0);
            }
        }

        .ui-panelmenu-panel {
            margin-top: 2px;

            &:first-child {
                margin-top: 0;
            }
        }

        .ui-panelmenu-content {
            padding: .2em 0;
            .ui-menuitem-link {
                padding: $listItemPadding;
                color: $textColor;
                @include transition(background-color );

                &:hover {
                    @include list-item-hover();
                }

                .ui-menuitem-text {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}
