$fontFamily:"Helvetica Neue",Helvetica,Arial,sans-serif;
$fontSize:14px;
$textColor:#212529;
$textSecondaryColor:#777777;
$borderRadius:4px;
$dividerColor:#e5e5e5;
$transitionDuration:.3s;
$disabledBgColor:#eeeeee;

/* Predefined Colors */
$lightestGray:#f5f5f5;
$lightGray:#cccccc;
$gray:#999999;
$darkGray:#777777;
$white:#ffffff;

$blue:#337ab7;
$purple:#9189fd;
$orange:#ffbf79;
$lightBlue:#8dc8ff;
$pink:#f790c8;

$green:#3e9018;
$red:#da2f31;
$orange:#ffb200;
$teal:#599597;
$black:#000000;
$yellow:#ffd644;


$inputInvalidBorderColor:#b94a48;
$inputInvalidBgColor:#ffffff;