body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  margin: 0;
  font-size: 0.8em !important;
}

html, body {
  height: 100%;
}

.layout-wrapper .layout-main {
  padding: 70px 8px 0px 8px;
  margin: 0;
}

.card {
  padding: 8px !important;
  margin: 0 !important;
}

.ui-table .ui-table-tbody > tr > td {
  height: 27px;
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  text-overflow: ellipsis;
}

.ui-treetable .ui-treetable-tbody > tr > td {
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  text-overflow: ellipsis;
}

body .ui-table .ui-table-thead > tr > th, 
body .ui-table .ui-table-tbody > tr > td, 
body .ui-table .ui-table-tfoot > tr > td {
  padding: 0.343em 0.343em;
}

.ui-inputtext {
    padding: 0.343em 0.343em !important
}

.ui-dropdown .ui-inputtext {
  padding: 0.170em 0.170em !important;
}

.ui-table .ui-table-tbody> tr > td.ui-editing-cell input {
  padding: 0.343em 0.343em !important
}

.tabViewClassInForm .ui-table .ui-table-tbody > tr > td {
  height: 26px;
}

.tabViewClassInForm .ui-table .ui-table-tbody > tr > td.ui-editing-cell {
  padding: 0
}

.tabViewClassInForm {
  .ui-table {
    .ui-corner-all {
      border-radius: 0 !important;
    }
  }
}

.ui-panel-titlebar {
  padding: 6px 12px 6px 12px !important;
}

.ui-panel .ui-panel-content {
  padding: 8px !important;
}

.ui-toolbar {
  padding: 1px !important;
}


.ui-tabview .ui-tabview-panel {
  padding: 0 !important;
}

.ui-tabview-nav li.ui-state-active {
  background-color: white !important;
}

.ui-tabview-nav li.ui {
  background-color: f5f5f5 !important;
}

.ui-tabview-nav li a {
  padding: 8px !important;
}

.tabViewClassInForm .ui-tabview-nav li a {
  padding: 6px !important;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav {
  margin-bottom: 0px;
}

.ui-tabview {
  padding: 0 !important;
}

.ui-tabview-nav li.ui-state-active {
  border-bottom-color: #2399e5 !important;
  .ui-tabview-title {
    font-weight: normal;
  }
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li, 
body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li, 
body .ui-tabview.ui-tabview-left .ui-tabview-nav li, 
body .ui-tabview.ui-tabview-right .ui-tabview-nav li {
  background: #f5f5f5;
  border-top-right-radius: 4px;
  border-color:#dddddd
}


.tabViewClassInForm .ui-tabview.ui-tabview-top .ui-tabview-nav {
  padding: 0;
  margin-bottom: -24px;
}

.tabViewClassInForm .ui-tabview-panels {
  border-top: none !important;
}

.ui-column-filter {
  font-size: xx-small !important
}

.ui-dropdown .ui-dropdown-clear-icon {
  right: 3.5em;
}

// buttons
.ui-button-icon-only .fa {
  margin-top: -.45em !important;
  margin-left: -.48em !important;
  ;
}

.ui-button-text-icon-left .fa {
  margin-top: -.41em !important;
}

.ui-button-icon-only .pi {
  font-size: 16px;
  margin-top: -.48em !important;
  margin-left: -.48em !important;
}

.ui-button-text-icon-left .pi {
  font-size: 16px;
  margin-top: -.48em !important;
}

p-table .ui-button-icon-only .pi {
  font-size: 12px;
}

.ui-toolbar .ui-button {
  margin-right: 1px;
}

.ui-toolbar .ui-button.ui-button-icon-only {
  margin-right: 1px;
  width: 28px;
}

p-autocomplete {
  width: 100%;
  .ui-autocomplete {
    width: 100%;
  }  
}

j-autocomplete-png { 
  .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0px;
    width: 1.8em;
  }
  .ui-inputtext {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}


/*  */
.ui-datepicker.ui-widget .ui-datepicker-calendar td a {
  padding: 4px !important;
}

.ui-timepicker {
  padding: 0px !important;
}

.ui-spinner-button {
  display: none !important;
}

.ui-dialog .ui-dialog-content {
  padding: 8px !important;
  height: 100%;
}

.ui-dialog .ui-dialog-titlebar {
  padding: .5em .75em !important;
}

.ui-dialog {
  display: flex !important;
  flex-direction: column !important;
}

.ui-dropdown-panel .ui-dropdown-filter-container .fa {
  top: 15px !important;
  right: 24px !important;
}

j-control {
  width: 100% !important;
}

.profile-image {
  border-radius: 50%;
}

.my-code-editor {
  height: calc(100vh - 300px);
}

.ui-autocomplete .ui-autocomplete-input {
  padding-right: 0.5em;
}

body .ui-treetable .ui-treetable-thead > tr > th, body .ui-treetable .ui-treetable-tbody > tr > td, body .ui-treetable .ui-treetable-tfoot > tr > td {
  padding: 5px;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #d62d20;
  }
  66% {
    stroke: #d62d20;
  }
  80%,
  90% {
    stroke: #d62d20;
  }
}

.ui-datepicker select.ui-datepicker-year {
  width: 40%;
}

.calendar {
  padding: 3px 4px 2px 5px !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.layout-wrapper .topbar-items > li > ul:before {
  left: 382px;
}

.ui-float-label>input[type=date]~label, 
.ui-float-label>input[type=datetime-local]~label,
.ui-float-label>input:focus~label,
.ui-float-label>input.ui-state-filled~label, 
.ui-float-label>.ui-inputwrapper-focus~label, 
.ui-float-label>.ui-inputwrapper-filled~label { 
  top: -.75em; 
  font-size: 12px; 
}

.ui-toolbar .ui-button.ui-button-icon-only {
  margin-right: 1px;
  width: 28px;
  height: 28px;
}

.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-list-item {
  padding: 6px 6px !important;
}

.ui-dialog .ui-dialog-footer {
  padding: 4px !important;
}