body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  margin: 0;
  font-size: 12px !important;;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

html, body {
  height: 100%;
}

.layout-wrapper .layout-main {
  padding: 70px 8px 0px 8px;
  margin: 0;
}

.p-table .p-table-tbody > tr > td {
  height: 27px;
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  text-overflow: ellipsis;
}

.p-treetable .p-treetable-tbody > tr > td {
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  text-overflow: ellipsis;

}

body .p-table .p-table-thead > tr > th, 
body .p-table .p-table-tbody > tr > td, 
body .p-table .p-table-tfoot > tr > td {
  padding: 0.343em 0.343em;
}


.p-dropdown label.p-dropdown-label {
  display: flex !important;
  align-items: center !important;
  font-size: 1em !important;
  padding: 0.343em 0.343em !important;
  margin: 0!important;
}

.p-table .p-table-tbody> tr > td.p-editing-cell input {
  padding: 0.343em 0.343em !important
}

.tabViewClassInForm .p-table .p-table-tbody > tr > td {
  height: 26px;
}

.tabViewClassInForm .p-table .p-table-tbody > tr > td.p-editing-cell {
  padding: 0;
}

.tabViewClassInForm {
  .p-table {
    .p-corner-all {
      border-radius: 0 !important;
    }
  }
}

.p-panel-titlebar {
  padding: 6px 12px 6px 12px !important;
}

.p-panel .p-panel-content {
  padding: 8px !important;
}

.p-toolbar {
  padding: 1px !important;
}


.p-tabview .p-tabview-panel {
  padding: 0 !important;
}

.p-tabview-nav li.p-state-active {
  background-color: white !important;
}

.p-tabview-nav li.p {
  background-color: f5f5f5 !important;
}

.p-tabview-nav li a {
  padding: 8px !important;
}

.tabViewClassInForm .p-tabview-nav li a {
  padding: 6px !important;
}

.p-tabview.p-tabview-top>.p-tabview-nav {
  margin-bottom: 0px;
}

.p-tabview {
  padding: 0 !important;
}

.p-tabview-nav li.p-state-active {
  border-bottom-color: #2399e5 !important;
  .p-tabview-title {
    font-weight: normal;
  }
}

body .p-tabview.p-tabview-top .p-tabview-nav li, 
body .p-tabview.p-tabview-bottom .p-tabview-nav li, 
body .p-tabview.p-tabview-left .p-tabview-nav li, 
body .p-tabview.p-tabview-right .p-tabview-nav li {
  background: #f5f5f5;
  border-top-right-radius: 4px;
  border-color:#dddddd
}


.tabViewClassInForm .p-tabview.p-tabview-top .p-tabview-nav {
  padding: 0;
  margin-bottom: -24px;
}

.tabViewClassInForm .p-tabview-panels {
  border-top: none !important;
}

.p-tabview-nav {
  background: 0 !important;
}
/* .p-tabview-panels {
  height: 100%;
  overflow-y: visible !important;
} */

.p-tabview-nav li.p-state-active {
  background-color: white !important;
  outline: 0px; /* Отменяем голубой ареол вокруг */
}

.p-tabview-nav li.p-state-active .p-tabview-title {
  font-weight: bold !important;
  cursor: pointer !important;
}

.p-column-filter {
  font-size: xx-small !important
}

.p-dropdown .p-dropdown-clear-icon {
  right: 3.5em;
}
.p-panel.p-panel-toggleable .p-panel-header{
  padding: 3px 9px;
}
// // buttons
// .p-button-icon-only .fa {
//   margin-top: -.45em !important;
//   margin-left: -.48em !important;
// }

// .p-toolbar .p-button.p-button-icon-only {
//   margin-right: 1px;
//   width: 28px;
//   height: 28px;
// }
.p-fluid .p-inputgroup .p-button.p-button-icon-only{
  width: 26px;
    height: 26px;
}
.p-button-icon-only .p-button-icon-left {
  margin-top: -.43em;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
  height: 33px;
  margin-left: 4px;
}
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid #dee2e6;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #dee2e6 transparent;
  background: #ffffff;
  color: #6c757d;
  padding: 1rem;
  font-weight: 600;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transition: box-shadow 0.2s;
  height: 33px;
}
.p-button-text-icon-left .fa {
  margin-top: -.41em !important;
}

.p-button-icon-only .pi {
  // font-size: 16px;
  display: contents;
  margin-top: -.48em !important;
  margin-left: -.48em !important;
}


.p-component {
  font-size: 1em !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.p-tabview .p-tabview-panels {
  padding: 0rem !important;
}

// .p-inputtext {
//   // padding: 0.343em 0.343em !important;
//   // font-size: 0.8em !important;
//   // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
// }

.p-datatable .p-datatable-thead > tr > th {
 text-align: center;
}
.p-button, .p-tabview-nav, .p-datatable-sm, .p-checkbox.p-component {
  // font-size: 0.8em !important;
  font-weight: normal;
}

.p-scrollpanel.p-component {
  font-size: 1em !important;
}

.p-toolbar-group-right {
  float: right;
  display: block;
  box-sizing: border-box;
}

// .p-button.p-button-secondary {
//   margin-top: -.48em !important;
//   margin-left: -.48em !important;
// }

.p-button.p-button-secondary, .p-splitbutton.p-button-secondary > .p-button {
  color: #212529;
  background-color: #ffffff;
  border-color: #cccccc;
}
.p-inputtext:enabled:focus{
  box-shadow: 0 0 0 1.1px #a6d5fa;
  border-color: #2196F3;

}
.p-button-text-icon-left .pi {
  font-size: 16px;
  margin-top: -.48em !important;
}

p-table .p-button-icon-only .pi {
  font-size: 12px;
}
td{ 
  height: 35px;
}
.p-toolbar .p-button {
  margin-right: 1px;
  width: max-content;
    height: 26px;
}
.p-button.p-button-warning, .p-buttonset.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button {
  color: #ffffff;
}
.p-button.p-button-icon-only {
  width: 26px;
  height: 26px;
  padding: 0.5rem 0;
}

.p-toolbar .p-button.p-button-icon-only {
  margin-right: 1px;
  width: 26px;
  height: 26px;
}

p-autocomplete {
  width: 100%;
  .p-autocomplete {
    width: 100%;
  }  
}

j-autocomplete-png { 
  .p-button.p-button-icon-only .p-button-text {
    padding: 0px;
    width: 1.8em;
  }
  .p-inputtext {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}


/*  */
.p-datepicker.p-widget .p-datepicker-calendar td a {
  padding: 4px !important;
}

.p-timepicker {
  padding: 0px !important;
}

.p-spinner-button {
  display: none !important;
}

.p-dialog .p-dialog-content {
  padding: 8px !important;
  height: 100%;
}

.p-dialog .p-dialog-titlebar {
  padding: .5em .75em !important;
}

.p-dialog {
  display: flex !important;
  flex-direction: column !important;
}

.p-dropdown-panel .p-dropdown-filter-container .fa {
  top: 15px !important;
  right: 24px !important;
}

j-control {
  width: 100% !important;
  .p-button.p-button-icon-only .p-button-text {
    padding: 0px;
    width: 1.8em;
  }
  .p-inputtext {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.profile-image {
  border-radius: 50%;
}

.my-code-editor {
  height: calc(100vh - 300px);
}

body .p-progressbar {
  border: 0 none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #e3e3e3;
  height: 5px;
}

.p-autocomplete .p-autocomplete-input {
  padding-right: 0.5em;
}

body .p-treetable .p-treetable-thead > tr > th, body .p-treetable .p-treetable-tbody > tr > td, body .p-treetable .p-treetable-tfoot > tr > td {
  padding: 5px;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #d62d20;
  }
  66% {
    stroke: #d62d20;
  }
  80%,
  90% {
    stroke: #d62d20;
  }
}

.p-datepicker select.p-datepicker-year {
  width: 40%;
}

.calendar {
  padding: 3px 4px 2px 5px !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.layout-wrapper .topbar-items > li > ul:before {
  left: 382px;
}

.p-float-label>input[type=date]~label, 
.p-float-label>input[type=datetime-local]~label,
.p-float-label>input:focus~label,
.p-float-label>input.p-state-filled~label, 
.p-float-label>.p-inputwrapper-focus~label, 
.p-float-label>.p-inputwrapper-filled~label { 
  top: -.75em; 
  font-size: 12px; 
}

.p-autocomplete-panel .p-autocomplete-items .p-autocomplete-list-item {
  padding: 6px 6px !important;
}

.p-dialog .p-dialog-footer {
  padding: 4px !important;
}

.p-tooltip {
  pointer-events: none !important;
}

.p-state-highlight {
  outline: 0px;
}
.p-fluid .p-dropdown .p-dropdown-label{
  height: 26px;
  font-size: inherit;
}
.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext{
  height: 26px;
}
.p-table .p-sortable-column.p-state-highlight {
  background-color: inherit !important;
  border-top-color: #dddddd !important;
  border-bottom-color: #dddddd !important;
  color: inherit !important;
  font-weight: bolder !important
}

.p-datatable .p-datatable-tbody > tr.p-highlight{
  // FIXME:
  background-color: #0b7ad1;
}
.p-dialog .p-dialog-header{
  padding: 10px;
}
.p-sortable-column-icon {
  color: inherit !important;
  font-weight: normal !important;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td{
  height: 25px;
  padding: 6px;

}

body .p-table .p-table-thead > tr > th, body .p-table .p-table-tfoot > tr > td {
  font-weight: normal !important;
}

.p-treetable .p-sortable-column.p-state-highlight {
  background-color: inherit !important;
  border-top-color: #dddddd !important;
  border-bottom-color: #dddddd !important;
  color: inherit !important;
  font-weight: normal !important;
}

.p-treetable.p-treetable-sm .p-treetable-tbody > tr > td {
  padding: 0px;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 1px 1px 1px 1px;
  padding: 0.1rem 0.1rem;
}
#p-tabpanel-2 > j-control > div > div > div > j-table-part-png > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-body.ng-star-inserted > table > tbody > tr.p-selectable-row.ng-star-inserted.p-highlight > td.p-resizable-column.p-editable-column.ng-star-inserted.p-cell-editing > p-celleditor > j-control > div > div > input {
  width: 100%;
height: 23px;  
}
#p-tabpanel-2 > j-control > div > div > div > j-table-part-png > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-body.ng-star-inserted > table > tbody > tr.p-selectable-row.ng-star-inserted.p-highlight > td.p-resizable-column.p-editable-column.ng-star-inserted.p-cell-editing > p-celleditor > j-control > div > div > button{
  height: 23px;
}
 
#p-tabpanel-2 > j-control > div > div > div > j-table-part-png > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-body.ng-star-inserted > table > tbody > tr > td.p-resizable-column.p-editable-column.ng-star-inserted.p-cell-editing > p-celleditor > j-control > div > j-autocomplete-png > form > div > div > p-autocomplete > span > input{
  height: 23px;  

}
#p-tabpanel-2 > j-control > div > div > div > j-table-part-png > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-body.ng-star-inserted > table > tbody > tr.p-selectable-row.ng-star-inserted.p-highlight > td.p-resizable-column.p-editable-column.ng-star-inserted.p-cell-editing > p-celleditor > j-control > div > j-autocomplete-png > form > div > div > p-autocomplete{
  padding: 1px;
}
#description{
  display: flex;
    align-items: center;
}
#description > span > i {
  height: 100%;
    position: relative;
    top: 3px;
}
.p-panel .p-panel-header .p-panel-title{
  font-weight: 900;
}
.p-panel .p-panel-content{
  background-color: #f5f5f5;
  border-color: #dddddd;
  border: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: linear-gradient(to bottom,#f6f7f9 0,#ebedf0 100%);
}
.p-toolbar{
  background-color: #f5f5f5;
  border-color: #dddddd;
  border: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: linear-gradient(to bottom,#f6f7f9 0,#ebedf0 100%);
}
.p-panel.p-panel-toggleable .p-panel-header{
 background: linear-gradient(to bottom,#f6f7f9 0,#ebedf0 100%);
}
.p-datatable .p-datatable-thead > tr > th{
  background: linear-gradient(to bottom,#f6f7f9 0,#ebedf0 100%);
}
 
#p-tabpanel-2 > j-control > div > div > div > j-table-part-png > p-toolbar > div > div.p-toolbar-group-right {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

 .pi-minus:before{
  position: relative;
  top: -2px;
 }
 #p-panel-0-content > div{
   background: #ffffff;
 }
 .p-datatable-resizable .p-datatable-thead > tr > th, .p-datatable-resizable .p-datatable-tfoot > tr > td, .p-datatable-resizable .p-datatable-tbody > tr > td{

  border: 1px solid #d9d9d9;
 }
 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(4) > div > j-autocomplete-png > form > div > div > p-autocomplete > span > input{
  padding-bottom:3.087px;
  padding-left:3.087px;
  padding-right:3.087px;
  padding-top:3.087px;
  // height: 19px;
 }
 .p-datatable .p-datatable-thead > tr > th{
  padding: 3px !important;
 }
 .p-fluid .p-calendar .p-inputtext{
  // height: 10px;
 }
 .p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext{
  height: 26px;
 }

 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(2) > div > p-calendar > span > input{
   height: 21px;
 }

 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(3) > div > input{
   height: 21px;
 }

 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(4) > div > j-autocomplete-png > form > div > div > button:nth-child(2){
   height: 21px;
   width: 21px;
 }
 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(4) > div > j-autocomplete-png > form > div > div > button:nth-child(3){
  height: 21px;
  width: 21px;
 }
 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(4) > div > j-autocomplete-png > form > div > div > button:nth-child(4){
  height: 21px;
  width: 21px;
 }
 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(5) > div > j-autocomplete-png > form > div > div > button:nth-child(2){
   height: 21px;
   width: 21px;
 }
 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(5) > div > j-autocomplete-png > form > div > div > button:nth-child(3){
   height: 21px;
   width: 21px;
 }

 #Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(5) > div > j-autocomplete-png > form > div > div > button:nth-child(4){
   height: 21px;
   width: 21px;
 }
#Document\.UserSettings > div > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(6) > div > p-tristatecheckbox > div > div.p-checkbox-box {
  height: 21px;
  width: 22px;
}


.p-datatable-resizable .p-datatable-thead > tr > th, .p-datatable-resizable .p-datatable-tfoot > tr > td, .p-datatable-resizable .p-datatable-tbody > tr > td{
  height: 25px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(4) > div > j-autocomplete-png > form > div > div > button:nth-child(2){
  height: 21px;
  width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(4) > div > j-autocomplete-png > form > div > div > button:nth-child(3){
   height: 21px;
   width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(5) > div > j-autocomplete-png > form > div > div > button:nth-child(2){
   height: 21px;
   width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(5) > div > j-autocomplete-png > form > div > div > button:nth-child(3){
   height: 21px;
   width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(2) > div > p-calendar > span > input{
   height: 21px;
   width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(3) > div > input{
   height: 21px;
   width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(6) > div > input{
  height: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(7) > div > j-autocomplete-png > form > div > div > button:nth-child(2){
  height: 21px;
  width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(7) > div > j-autocomplete-png > form > div > div > button:nth-child(3){
  height: 21px;
  width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(8) > div > j-autocomplete-png > form > div > div > button:nth-child(2){
  height: 21px;
  width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(8) > div > j-autocomplete-png > form > div > div > button:nth-child(3){
  height: 21px;
  width: 21px;
}
#Document\.Operation > div > p-table > div > div.p-datatable-scrollable-wrapper.ng-star-inserted > div > div.p-datatable-scrollable-header > div > table > thead > tr:nth-child(2) > th:nth-child(9) > div > j-autocomplete-png > form > div > div > button:nth-child(2){
  height: 21px;
  width: 21px;
}
.p-inputgroup-addon:last-child, .p-inputgroup button:last-child, .p-inputgroup input:last-child{
  border-top-right-radius: 0px; 
  border-bottom-right-radius: 0px; 
}

.p-toolbar, .p-toolbar-group-left, .p-toolbar-group-right{
  margin-left: auto;
}
table > thead > tr > th > div > j-autocomplete-png > form > div > div > p-autocomplete > span > input{
  height: 21px !important;
  width: 21px !important;
}
table > thead > tr > th > div > input{
  height: 21px !important;
 
}
table > thead > tr > th> div > j-autocomplete-png > form > div > div > button {
  height: 21px !important;
  width: 21px !important;
}
// table > tbody > tr.scrollTo-Document\.Operation.p-selectable-row.ng-star-inserted.p-highlight.p-highlight-contextmenu > td{
//   padding: 4px;

// }

table > tbody > tr:nth-child(1) > td:nth-child(1){
  padding: 0px !important;
}