<p-dataView [value]="attachmets$ | async" layout="grid" emptyMessage="No attachmets found">
  <p-header>
    <p-toolbar styleClass="NoBorder">
      <div class="ui-toolbar-group-left">
        <button [disabled]="!settings.length" pButton type="button" icon="pi pi-plus" class="ui-button-success"
          (click)="showDialog($event, true)"></button>
      </div>
      <div class="ui-toolbar-group-right">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </p-toolbar>
  </p-header>
  <ng-template let-item pTemplate="listItem">
    <div class="ui-g-12">
      <div class="item-details">
        <div>
          <img [src]="item.URL" style="max-width: 100%; height: auto;" (click)="showDialog($event, false, item)">
          <div class="ui-g-12"><b>{{item.AttachmentTypeDescription}}: "{{item.description}}"</b></div>
          <div *ngIf="item.TagsString" class="ui-g-12"><b>{{item.TagsString}}</b></div>
        </div>
        <button pButton type="button" icon="pi pi-search" (click)="showDialog($event, false, item)"></button>
        <button *ngIf="settings.length" pButton type="button" icon="pi pi-cog"
          style="margin-left: 5px;margin-right: 5px;" class="ui-button-warning"
          (click)="showDialog($event, true, item)"></button>
        <button *ngIf="item.isFile" pButton type="button" icon="pi pi-download" class="ui-button-success"
          (click)="downloadAttachment(item)"></button>
      </div>
    </div>
  </ng-template>

  <ng-template let-item pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="item.Description" [style]="{'text-align':'center', 'height': '100%'}">
        <img [src]="item.URL" style="max-width: 100%; width:auto; height:auto;"
          (click)="showDialog($event, false, item)">
        <div class="item-detail">{{item.AttachmentTypeDescription}}</div>
        <div class="item-detail"><b>{{item.description}}</b></div>
        <div *ngIf="item.TagsString" class="item-detail">{{item.TagsString}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="showDialog($event, false, item)"></button>
        <button *ngIf="settings.length" pButton type="button" icon="pi pi-cog" class="ui-button-warning"
          style="margin-left: 5px;margin-right: 5px;" (click)="showDialog($event, true, item)"></button>
        <button *ngIf="item.isFile" pButton type="button" icon="pi pi-download" class="ui-button-success"
          (click)="downloadAttachment(item)"></button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>

<p-dialog #dialog class="dialog"
  [header]="selectedAttachment && selectedAttachment.id ? 'Attachment detail' : 'New attachment'"
  [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" (onAfterHide)="onDialogHide()"
  [style]="{'width': 'auto'}" [dismissableMask]="true" [blockScroll]="false">


  <div style="text-align:center" *ngIf="selectedAttachment && !editMode" (click)="displayDialog = false">
    <img class="imgAttach" [src]="selectedAttachment.URL">
    <ul style="text-align:left">
      <li>Description: {{selectedAttachment.description}}</li>
      <li>Type: {{selectedAttachment.AttachmentTypeDescription}}</li>
      <li *ngIf="selectedAttachment.TagsString">Tags: {{selectedAttachment.TagsString}}</li>
      <li>User: {{selectedAttachment.userDescription}}</li>
      <li>Created: {{selectedAttachment.date | date:'medium' }} </li>
      <li>Modify: {{selectedAttachment.timestamp | date:'medium'}}</li>
      <li *ngIf="selectedAttachment.FileSize && selectedAttachment.FileSize">Size:
        {{selectedAttachment.FileSize/1024 | number:'1.1-2'}} KB</li>
    </ul>
  </div>

  <div *ngIf="editMode" style="padding: 0px;">
    <h1 class="headerText">Type</h1>
    <div style="max-width: auto; width: 100%;">
      <p-dropdown styleClass="editInput" [options]="settings" [(ngModel)]="selectedSettings" required="true"
        [panelStyle]="{'width': 'auto'}" optionLabel="AttachmentTypeDescription" appendTo="body"></p-dropdown>
    </div>

    <div *ngIf="selectedSettings.StorageType === 'FILE'">
      <h1 class="headerText">File</h1>
      <p-fileUpload customUpload="true" [accept]="selectedSettings.FileFilter" mode="basic"
        [maxFileSize]="selectedSettings.MaxFileSize" chooseLabel="Browse" (onSelect)="onSelectFiles($event)">
      </p-fileUpload>
    </div>

    <div *ngIf="selectedSettings.StorageType === 'URL'">
      <h1 class="headerText">URL</h1>
      <input style="width: 100%;" pInputText autocomplete="off" spellcheck="false"
        [(ngModel)]="selectedAttachment.Storage">
    </div>

    <h1 class="headerText">Description</h1>
    <textarea styleClass="editInput" style="width: 100%;" [rows]="5" pInputTextarea autoResize="false"
      spellcheck="false" [(ngModel)]="selectedAttachment.description"></textarea>

    <div *ngIf="selectedSettings.Tags.length">
      <h1 class="headerText">Tags</h1>
      <p-listbox [options]="selectedSettings.Tags" [(ngModel)]="selectedTags" [multiple]="true" [checkbox]="true"
        [filter]="true" [listStyle]="{'max-height':'130px','width':'auto'}" optionLabel="name"></p-listbox>
    </div>

    <div style="margin-top: 10px">
      <p-toolbar styleClass="NoBorder">
        <div class="ui-toolbar-group-left">
          <button pButton type="button" id="OK" icon="fa fa-check-square" label="Save" class="ui-button-warning"
            (click)="saveAttachment()"></button>
        </div>
        <div class="ui-toolbar-group-right">
          <button pButton type="button" id="Remove" icon="far fa-trash-alt" label="Remove" class="ui-button-danger"
            *ngIf="this.selectedAttachment.id" (click)="delAttachment(this.selectedAttachment.id)"></button>
        </div>
      </p-toolbar>
    </div>
  </div>
</p-dialog>