    .NoBorder {
        border: none !important;
    }
    .editInput {
        width: 100% !important;
    }    
    .p-listbox-list {
       text-align: left !important;
    }
    .p-listbox-header {
        text-align: left !important;
    }
    .p-listbox {
        width: auto !important;
     }    
    .headerText {
        text-align: left !important;
        margin: 7px !important;
        font-size: 15px !important;
    } 
    .imgAttach {
        width: auto;
        height: auto;
        max-width: 80vw;
        max-height: 65vh;
    }
    .p-dataview-content {
        width: 100%;
        height: 100%;
    }