$topbarLeftGradientStartBgColor:#265C28;
$topbarLeftGradientEndBgColor:#2E7531;
$topbarRightGradientStartBgColor:#265C28;
$topbarRightGradientEndBgColor:#2E7531;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#43A047;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#265C28;
$badgeBgColor:#d9534f;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#A1CFA3;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout/_layout';
