$topbarLeftGradientStartBgColor:#1F8E38;
$topbarLeftGradientEndBgColor:#1F8E38;
$topbarRightGradientStartBgColor:#1F8E38;
$topbarRightGradientEndBgColor:#1F8E38;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#28A745;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#28A745;
$badgeBgColor:#F5A623;
$badgeColor:#282b30;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#6aa5d8;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout-v4/_layout';
