$topbarLeftGradientStartBgColor:#cb2d3e;
$topbarLeftGradientEndBgColor:#d0313d;
$topbarRightGradientStartBgColor:#cb2d3e;
$topbarRightGradientEndBgColor:#ef473a;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#cb2d3e;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#D1323E;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#cb2d3e;
$darkMenuGradientEndBgColor:#d0313d;
$darkMenuHoverBgColor:#A82831;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#EDD2D4;
$darkMenuMenuitemActiveBgColor:#871F27;

@import '../../sass/layout-v4/_layout';
