$topbarLeftGradientStartBgColor:#2E8942;
$topbarLeftGradientEndBgColor:#3EA655;
$topbarRightGradientStartBgColor:#2E8942;
$topbarRightGradientEndBgColor:#3EA655;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#61CC79;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#2E8942;
$badgeBgColor:#d9534f;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#AAE1B7;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout-v4/_layout';
