$topbarLeftGradientStartBgColor:#521c52;
$topbarLeftGradientEndBgColor:#612761;
$topbarRightGradientStartBgColor:#642b73;
$topbarRightGradientEndBgColor:#c6426e;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#612761;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#521c52;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#521c52;
$darkMenuGradientEndBgColor:#612761;
$darkMenuHoverBgColor:#391539;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#E9D1E9;
$darkMenuMenuitemActiveBgColor:#2D112D;

@import '../../sass/layout-v4/_layout';
