$topbarLeftGradientStartBgColor:#281A15;
$topbarLeftGradientEndBgColor:#50352C;
$topbarRightGradientStartBgColor:#281A15;
$topbarRightGradientEndBgColor:#50352C;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #6D4C41;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#281A15;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#B6A5A0;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout/_layout';
