$topbarLeftGradientStartBgColor:#391F68;
$topbarLeftGradientEndBgColor:#4E2A8F;
$topbarRightGradientStartBgColor:#391F68;
$topbarRightGradientEndBgColor:#4E2A8F;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#6F42C1;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#391F68;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#B7A0E0;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout-v4/_layout';
