$topbarLeftGradientStartBgColor:#ee8a21;
$topbarLeftGradientEndBgColor:#f2a34b;
$topbarRightGradientStartBgColor:#f2994a;
$topbarRightGradientEndBgColor:#f2c94c;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#f2a34b;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#f2a34b;
$badgeBgColor:#d9534f;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#FAD974;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout-v4/_layout';
