$topbarLeftGradientStartBgColor:#2b32b2;
$topbarLeftGradientEndBgColor:#4465C5;
$topbarRightGradientStartBgColor:#2b32b2;
$topbarRightGradientEndBgColor:#1488cc;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#2b32b2;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#20258B;
$badgeBgColor:#d9534f;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#2b32b2;
$darkMenuGradientEndBgColor:#4465C5;
$darkMenuHoverBgColor:#272D8B;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#C5C7E5;
$darkMenuMenuitemActiveBgColor:#191D6C;

@import '../../sass/layout-v4/_layout';
