$topbarLeftGradientStartBgColor:#1e3c72;
$topbarLeftGradientEndBgColor:#2a4f91;
$topbarRightGradientStartBgColor:#1e3c72;
$topbarRightGradientEndBgColor:#2a5298;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#1e3c72;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#1e3c72;
$badgeBgColor:#d9534f;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#1e3c72;
$darkMenuGradientEndBgColor:#2a4f91;
$darkMenuHoverBgColor:#152A50;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#CEDAF0;
$darkMenuMenuitemActiveBgColor:#091429;

@import '../../sass/layout-v4/_layout';
