$topbarLeftGradientStartBgColor:#8D4C00;
$topbarLeftGradientEndBgColor:#C26800;
$topbarRightGradientStartBgColor:#8D4C00;
$topbarRightGradientEndBgColor:#C26800;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #FF8800;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#8D4C00;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#FFC37F;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout/_layout';
