$topbarLeftGradientStartBgColor:#a83279;
$topbarLeftGradientEndBgColor:#b04167;
$topbarRightGradientStartBgColor:#a83279;
$topbarRightGradientEndBgColor:#f38e00;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#a83279;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#a83279;
$badgeBgColor:#3eb839;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#a83279;
$darkMenuGradientEndBgColor:#b04167;
$darkMenuHoverBgColor:#87225F;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#E4BDCB;
$darkMenuMenuitemActiveBgColor:#781A53;

@import '../../sass/layout-v4/_layout';
