$topbarLeftGradientStartBgColor:#4DB865;
$topbarLeftGradientEndBgColor:#61CC79;
$topbarRightGradientStartBgColor:#61CC79;
$topbarRightGradientEndBgColor:#80D293;
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor:#3EA655;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#61CC79;
$badgeBgColor:#d9534f;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#80D293;
$darkMenuMenuitemActiveBgColor:#282b30;

@import '../../sass/layout-v4/_layout';
